/* Global styles */

#chat-controls {
  align-items: center;
}

#chat-log .message .message-content ul,
ol,
.flavor-text ul,
ol {
  margin: 0 0 0.2em 0;
}

#chat-log .message .message-content .pdfoundry-link {
  font-size: smaller;
  margin: 0 1px 0 1px;
}

#chat-log .message .message-content hr {
  margin-top: 3px;
  margin-bottom: 3px;
  border-bottom: 0;
  border-top: 1px solid rgba(187, 187, 187);
}

#chat-log .message .message-content ul,
.flavor-text ul {
  list-style-type: disc;
}

#chat-log .message .message-content p,
.flavor-text p {
  margin: 0 0 0.2em 0;
}

#chat-log .message .message-content p:last-of-type,
.flavor-text p:last-of-type {
  margin: 0 0 0 0;
}

#chat-log .message .message-content blockquote,
.flavor-text blockquote {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}

.dialog-select {
  height: 26px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  text-align-last: center;
  padding: 1px 3px;
  width: 98px;
}

.dialog-calcAttDiff {
  height: 26px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  padding: 1px 3px;
  width: 100%;
}

.input-calcAttDiff {
  padding-left: 0px;
  text-indent: 0px;
  display: flex;
}

input[type="checkbox"].dialog-checkbox {
  flex: 0 0 15px;
  margin: auto 0px;
  height: 13px;
  width: 13px;
}

input[type="text"].dialog-input {
  width: 100%;
}

form.cyphersystem {
  height: 100%;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
  margin: 5px 0 0 0;
  padding: 0;
}

.grid-3col {
  display: grid;
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  display: grid;
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  display: grid;
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  display: grid;
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  display: grid;
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  display: grid;
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  display: grid;
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  display: grid;
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  display: grid;
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  display: grid;
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 3px;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.editor-edit {
  top: 10px;
  right: 10px;
}

.flavor-text {
  line-height: 1.3;
  margin-bottom: 3px;
  font-size: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

a.entity-link,
a.content-link,
a.inline-roll,
a.pdfoundry-link,
a.rollForLevel {
  font-size: smaller;
  margin: 0 1px 0 1px;
}

select.bar-attribute {
  width: 0;
}

.editor-content {
  padding: 3px 5px;
  line-height: 1.4;
}

.editor-content p {
  margin: 3px 0 3px 0;
}

.editor-content hr {
  margin: 0;
  border-bottom: 0;
  border-top: 1px solid #999;
}

.hidden-resource-barbrawl {
  display: none;
}

/* Styles limited to cyphersystem sheets */

.cyphersystem .window-content {
  overflow: hidden;
}

.cyphersystem .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.cyphersystem .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 115px;
  width: 115px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 3px;
}

.cyphersystem .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cyphersystem .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.cyphersystem .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cyphersystem .hr-pool {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 0;
  border-top: 1px solid #999;
}

.cyphersystem .stat-pool {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 3px;
  margin-top: 2px;
}

.cyphersystem .stat-pool.disabled {
  border: none;
}

.cyphersystem .align-edge {
  justify-content: flex-end;
  white-space: nowrap;
  text-align: right;
}

.cyphersystem nav.sheet-tabs {
  -webkit-box-flex: 0 0 0;
  -ms-flex: 0 0 0;
  flex: 0 0 0;
  border-top: none;
  border-bottom: none;
  margin: 5px 0 0 0;
  padding: 0px;
}

.cyphersystem .sheet-body .tab {
  border: 1px solid #999;
  border-top: none;
  height: 455px;
  overflow-y: auto;
}

.cyphersystem .sheet-body .editor {
  height: 455px;
}

.cyphersystem .resource-label {
  font-weight: bold;
  text-overflow: ellipsis;
  padding-left: 15px;
  /* vertical-align: middle; */
}

.cyphersystem .resource-label-additional {
  font-weight: bold;
  text-overflow: ellipsis;
  /* vertical-align: middle; */
}

.cyphersystem .resource-label-normal {
  vertical-align: middle;
}

.cyphersystem .tabs .item {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #999;
  border-radius: 3px 3px 0 0;
  line-height: 25px;
  padding: 0 6px;
  white-space: nowrap;
  width: -webkit-fill-available;
  width: -moz-available;
}

.cyphersystem .tabs .item.active {
  text-decoration: none;
  text-shadow: none;
  font-weight: bold;
  background: none;
  border: 1px solid #999;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}

.cyphersystem .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0 5px;
  overflow-y: auto;
}

.cyphersystem .items-list .item-header {
  font-weight: bold;
}

.cyphersystem .items-list hr {
  margin: 0;
  border-bottom: 0;
  border-top: 1px solid rgba(187, 187, 187);
}

.cyphersystem .items-list .item {
  padding: 3px 5px;
  /*border-bottom: 1px solid #BBB;*/
}

.cyphersystem .tabs .item~.item {
  /* border: 1px solid #999; */
  border-left: none;
}

.cyphersystem .items-list .item~.item {
  border-top: 1px solid #BBB;
}

.cyphersystem .items-list .item:last-child {
  border-bottom: 1px solid #BBB;
}

.cyphersystem .item-desc:last-child {
  border-bottom: 1px solid #BBB;
}

.cyphersystem .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.cyphersystem .items-list .item img {
  display: block;
}

.cyphersystem .items-list .item-name {
  margin: 0;
  line-height: 1.4;
  padding-left: 12px;
  text-indent: -12px;
}

.cyphersystem .item-name a.inline-roll,
.cyphersystem .item-name a.entity-link {
  text-indent: 0px;
}

.cyphersystem .items-list .item-name p {
  margin: 3px 0px;
  line-height: 1.4;
  font-size: 13px;
}

.cyphersystem .items-list .item-damage {
  flex: 0;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.cyphersystem .items-list .item-controls {
  -webkit-box-flex: 0 0 50px;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  text-align: right;
  line-height: 1.4;
}

.cyphersystem .items-list .item-quantity {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  text-align: center;
  white-space: nowrap;
  line-height: 1.4;
}

.cyphersystem .items-list .item-cypher-limit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.cyphersystem .items-list .item-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.cyphersystem .items-list .description {
  text-align: left;
  line-height: 1.4;
  border-top-style: dashed;
  border-color: rgba(187, 187, 187);
  border-top-width: 1px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  /* display: none; */
}

.cyphersystem .items-list .description p {
  border-style: none;
  margin: 3px 0 3px 0;
}

.cyphersystem .items-list .description ul {
  list-style-type: disc;
}

.cyphersystem .items-list .description li {
  line-height: 1.8;
}

.cyphersystem .items-list .description p:last-of-type {
  margin: 3px 0 0 0;
}

.cyphersystem .items-list .description p:first-of-type {
  margin: 0 0 3px 0;
}

.cyphersystem .items-list .item-skillLevel {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  text-align: center;
}

.cyphersystem .tox .tox-editor-container {
  background: rgba(255, 255, 255, 0.3);
}

.cyphersystem .centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cyphersystem input[type="text"].input-cypher-limit {
  width: 40px;
  margin: -2px 0;
  height: 19px;
  padding: 0;
}

.cyphersystem .item-settings {
  height: 35px;
  align-items: center;
}

.cyphersystem input[type="text"].setting-input {
  width: 135px;
}

.cyphersystem input[type="text"],
.cyphersystem input[type="password"],
.cyphersystem input[type="datetime-local"] {
  margin-bottom: 2px;
  margin-top: 2px;
  width: 100%;
  text-align: center;
}

.cyphersystem input[type="text"].stat-input,
.cyphersystem input[type="number"].stat-input {
  border: none;
  background: none;
  margin: -1px;
  padding: 0;
}

.cyphersystem input[name="name"] {
  font-weight: bold;
}

.cyphersystem input[type="checkbox"] {
  flex: 0 0 15px;
  margin: auto 0px;
  height: 13px;
  width: 13px;
}

.cyphersystem select {
  height: 26px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  text-align-last: center;
  padding: 1px 3px;
}

.cyphersystem .item-angle {
  width: 12px;
  text-align: center;
  /* padding-left: 9px;
  padding-right: 3px; */
  margin-left: 3px;
  margin-right: -4px;
}

.cyphersystem .number {
  display: inline-block;
  margin: auto;
  min-width: 30px;
}

.cyphersystem .settings-list {
  padding-left: 0px;
  text-indent: 0px;
  display: flex;
}

.cyphersystem .centered-fields {
  margin-top: auto;
  margin-bottom: auto;
}

.cyphersystem .auto-margin {
  margin: auto !important;
}

.cyphersystem .description-image {
  float: right;
  margin: 0 3px 0 5px;
}

.description-image-chat {
  float: right;
  margin: 0 0 0 5px;
}

.cyphersystem .label-basic-info {
  flex: 0 0 45px;
  text-align: right;
  padding: 0 3px 0 6px;
}

.cyphersystem .rollForLevel {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}

.cyphersystem .rollForLevel i {
  color: #7a7971;
}

.cyphersystem .disabled {
  pointer-events: none;
  color: #4b4a44;
}

.cyphersystem .item-angle {
  transform: rotate(0deg);
  transform-origin: 0%;
  transition: transform 0.4s;
}

.cyphersystem .arrow-active {
  transform: rotate(90deg);
  transform-origin: 0;
  transition: transform 0.4s;
}

.cyphersystem .fa-minus-square.stat,
.fa-plus-square.stat {
  /* font-size: 12px; */
  vertical-align: -1px;
}

.cyphersystem .stat-roll-button {
  flex: 0 0 15px;
  text-align: right;
  padding-right: 3px;
}

.cyphersystem .vl {
  border-left: 1px solid #999;
  margin-right: 2px;
}

.cyphersystem .edge-label {
  flex: 0 0 0;
  padding-left: 5px;
}

.cyphersystem .stat-controls {
  white-space: nowrap;
  height: 19px;
}

.cyphersystem .all-stats {
  margin-top: 5px;
}

.cyphersystem .stat-block+.stat-block {
  margin-left: 5px
}

.cyphersystem .additional-block {
  max-width: 120px;
}

.cyphersystem input[type="text"].edge-input {
  height: 19px;
  max-width: 40px;
  width: auto;
  margin: 0;
}

.cyphersystem .fa-sync-alt.stat {
  font-size: 11px;
  vertical-align: 0px;
  margin-left: 0px;
}

.cyphersystem .nonPC-stat-buttons {
  flex: 0 0 50px;
  text-align: right;
  padding-right: 3px;
}

.cyphersystem .nonPC-stat-label {
  margin-right: -32px;
}

.cyphersystem .damage-track-apply {
  flex: 0;
}

.cyphersystem .reset-stat {
  margin-left: 5px
}

.cyphersystem .archived {
  color: dimgrey;
}

.cyphersystem .black {
  color: black;
}

.cyphersystem .archived-image {
  opacity: 60%;
}

.cyphersystem .Inability {
  color: red;
}

.cyphersystem .Trained {
  color: green;
}

.cyphersystem .Specialized {
  color: blue;
}

.cyphersystem .item-controls-spells {
  -webkit-box-flex: 0 0 65px;
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  text-align: right;
}

.cyphersystem input.settings-input,
select.settings-input {
  width: 147.75px;
}

.cyphersystem .recovery-rolls {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.cyphersystem .tab-icon {
  border: none;
  height: 20px;
  margin: 3px 0px -5px 0px;
}

.cyphersystem .profile-img-container {
  position: relative;
  max-width: 115px;
  height: 115px;
  margin-right: 5px;
}

.cyphersystem .profile-img-overlay {
  position: absolute;
  top: 94px;
  left: 92px;
  opacity: 85%;
  text-shadow: 0px 0px 5px #000;
  font-size: medium;
  color: white;
}

.cyphersystem .dice-tray-right {
  position: absolute;
  width: 32px;
  height: 115px;
  border: 0;
  border-left: 1px solid #999;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  left: 650px;
  top: 38px;
  background: url(/ui/parchment.jpg) repeat;
  box-shadow: 0 0 20px var(--color-shadow-dark);
  z-index: -1;
  padding: 6px 4px 6px 4px;
  text-align: center;
}

.cyphersystem .dice-tray-left {
  position: absolute;
  width: 32px;
  height: 115px;
  border: 0;
  border-right: 1px solid #999;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  left: -32px;
  top: 38px;
  background: url(/ui/parchment.jpg) repeat;
  box-shadow: 0 0 20px var(--color-shadow-dark);
  z-index: -1;
  padding: 6px 4px 6px 4px;
  text-align: center;
}

.cyphersystem .dice-tray-hidden {
  display: none;
}

.cyphersystem .dice-icon {
  border: 0;
  filter: invert(1) blur(0.25px);
}

.cyphersystem .dice-icon:hover {
  filter: invert(1) blur(0.25px) drop-shadow(0 0 6px var(--color-shadow-primary))
}