/* Global */

#logo {
  margin: 12px 0 0 12px;
}

#controls {
  padding: 12px 15px 0 15px;
}

#chat-controls {
  align-items: center;
}

#chat-log .message-content {
  line-height: 1.4;
}

#chat-log .message .message-content ul,
ol,
.flavor-text ul,
ol {
  margin: 0 0 0.2em 0;
}

#chat-log .message .message-content .pdfoundry-link {
  font-size: smaller;
  margin: 0 1px 0 1px;
}

#chat-log .message .message-content ul,
.flavor-text ul {
  list-style-type: disc;
}

#chat-log .message .flavor-text p:first-of-type,
.flavor-text p > p {
  margin: 0 0 0.5em 0;
}

#chat-log .message .flavor-text p:last-of-type {
  margin: 0 0 0 0;
}

#chat-log .message .message-content blockquote,
.flavor-text blockquote {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}

#chat-log .table-result a.entity-link,
#chat-log .table-result a.content-link,
#chat-log .table-result a.pdfoundry-link {
  display: inline-block;
  max-width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

#chat-log .hr-chat {
  margin-top: 1px;
  margin-bottom: 2px;
  border-bottom: none;
  border-top: 1px solid #7a7971;
}

#chat-log .roll-result-hr {
  margin-top: 3px;
  margin-bottom: 3px;
  border-bottom: none;
  border-top: 3px double #7a7971;
  width: 95%;
}

#chat-log .intrusion {
  color: red;
}

#chat-log .effect1718 {
  color: blue;
}

#chat-log .effect1920 {
  color: green;
}

#chat-log .roll-result {
  font-size: 1em;
  font-weight: bold;
}

#chat-log .roll-difficulty {
  font-size: 1em;
  font-weight: bold;
  color: var(--color-text-dark-primary)
}

#chat-log .roll-effect {
  font-size: 1em;
  font-weight: bold;
}

#chat-log .roll-initiative {
  font-size: 1em;
  font-weight: bold;
}

#chat-log .multi-roll-active {
  color: blue;
}


ol#chat-log .note-roll-dialog {
  display: block;
  color: blue;
  text-align: left;
}

#chat-log .difficulty-result {
  font-weight: bold;
}

.dialog-select {
  height: 26px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  text-align-last: center;
  padding: 1px 3px;
  width: 98px;
}

.dialog-calcAttDiff {
  height: 26px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  padding: 1px 3px;
  width: 100%;
}

.input-calcAttDiff {
  padding-left: 0px;
  text-indent: 0px;
  display: flex;
}

input[type="checkbox"].dialog-checkbox {
  flex: 0 0 15px;
  margin: auto 0px;
  height: 13px;
  width: 13px;
}

input[type="text"].dialog-input {
  width: 100%;
}

form.cyphersystem {
  height: 100%;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
  margin: 5px 0 0 0;
  padding: 0;
}

.grid-1col {
  display: grid;
  grid-column: span 1 / span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-3col {
  display: grid;
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  display: grid;
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  display: grid;
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  display: grid;
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  display: grid;
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  display: grid;
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  display: grid;
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  display: grid;
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  display: grid;
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  display: grid;
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 3px;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.editor-edit {
  top: 10px;
  right: 10px;
}

#chat-log .roll-flavor {
  line-height: 1.3;
  margin-bottom: 3px;
  font-size: var(--font-size-12);
  color: var(--color-text-dark-secondary);
  width: 100%;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

a.entity-link,
a.content-link,
a.inline-roll,
a.pdfoundry-link,
a.rollForLevel,
a.tag-items {
  font-size: smaller;
}

/* :is(a.entity-link:has(+ :is(a.entity-link, a.content-link, a.inline-roll, a.pdfoundry-link, a.rollForLevel, a.tag-items)), a.content-link:has(+ :is(a.entity-link, a.content-link, a.inline-roll, a.pdfoundry-link, a.rollForLevel, a.tag-items)), a.inline-roll:has(+ :is(a.entity-link, a.content-link, a.inline-roll, a.pdfoundry-link, a.rollForLevel, a.tag-items)), a.rollForLevel:has(+ :is(a.entity-link, a.content-link, a.inline-roll, a.pdfoundry-link, a.rollForLevel, a.tag-items)), a.tag-items:has(+ :is(a.entity-link, a.content-link, a.inline-roll, a.pdfoundry-link, a.rollForLevel, a.tag-items))) {
  margin: 0 2px 0 0;
} */

select.bar-attribute {
  width: 0;
}

/* Remove when fixed in core V12 */

li.folder > .folder-header,
li.folder.collapsed > .folder-header,
li.folder.collapsed > .folder-header h3 {
  text-shadow: 0 0 3px black;
}

/* until here */

.sheet.actor .editor.tinymce div[role="application"] {
  height: 100%;
}

.sheet.item .editor.tinymce div[role="application"] {
  height: 100%;
}

.cyphersystem.sheet.pc,
.cyphersystem.sheet.npc,
.cyphersystem.sheet.companion,
.cyphersystem.sheet.community,
.cyphersystem.sheet.token,
.cyphersystem.sheet.vehicle {
  min-width: 650px;
  min-height: 550px;
}

.cyphersystem.sheet.item {
  min-width: 575px;
  min-height: 550px;
}

.cyphersystem .editor-content {
  padding: 0.3em !important;
  line-height: 1.4;
  word-break: normal;
}

.cyphersystem .editor-content ul p,
.cyphersystem .editor-content ol p {
  margin: 0px;
}

.cyphersystem .ProseMirror {
  --color-control-bg: rgb(0, 0, 0, 0.1);
  --color-hover-bg: rgb(0, 0, 0, 0.15);
}

.cyphersystem .prosemirror .editor-container {
  margin: 0;
}

.cyphersystem .ProseMirror menu .pm-dropdown ul {
  background: #DDD;
}

.cyphersystem .ProseMirror menu {
  border-radius: 0px;
}

.cyphersystem .ProseMirror .editor-container {
  margin: 0px;
}

.editor-content hr {
  margin: 0;
  border-bottom: 0;
  border-top: 1px solid #999;
}

.editor-content h4 {
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid var(--color-underline-header);
}

.chat-hidden {
  display: none;
}

.chat-card-buttons {
  text-align: right;
}

.chat-card-item-description {
  padding-bottom: 2px;
}

.roll-result-box {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 3px;
  padding: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.roll-result-box.box1718 {
  background: rgba(0, 0, 255, 0.05);
  border: 1px solid blue;
}

.roll-result-box.box1920 {
  background: rgba(0, 128, 0, 0.05);
  border: 1px solid green;
}

.roll-result-box.box1 {
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid red;
}

/* Styles limited to cyphersystem sheets */

.cyphersystem .window-content {
  overflow: hidden;
}

.cyphersystem .background-image {
  margin: -8px;
  padding: 8px;
  height: 100%;
}

.cyphersystem .background-image.paper {
  background-image: url(/systems/cyphersystem/icons/background/background-paper.webp) !important;
  background-size: cover;
}

.cyphersystem .background-image.metal {
  background-image: url(/systems/cyphersystem/icons/background/background-metal.webp) !important;
  background-size: cover;
}

.cyphersystem .background-image.pride {
  background-image: url(/systems/cyphersystem/icons/background/background-pride.webp) !important;
  background-size: cover;
}

.cyphersystem .background-image.plain.red {
  background: rgb(153, 0, 0);
}

.cyphersystem .background-image.plain.blue {
  background: rgb(0, 77, 129);
}

.cyphersystem .background-image.plain.green {
  background: rgb(20, 104, 66);
}

.cyphersystem .background-image.plain.purple {
  background: rgb(154, 24, 96);
}

.cyphersystem .background-image.plain.yellow {
  background: rgb(247, 186, 0);
}

.cyphersystem .background-image.plain.grey {
  background: rgb(128, 128, 128);
}

.cyphersystem .background-image.cypher-blue {
  background-image: linear-gradient(rgb(203, 203, 218), white) !important;
  background-size: cover;
}

.cyphersystem .background-image.custom {
  background-size: cover;
  background-position: center;
}

.cyphersystem .background-image-rectangle {
  z-index: 0;
  background-color: white;
  opacity: 0;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 39px);
  top: 34px;
  left: 5px;
  border-radius: 2px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.cyphersystem .background-image-rectangle.plain {
  opacity: 0.75;
}

.cyphersystem div.background-image-icon {
  position: absolute;
  top: calc(100% - 265px);
  left: calc(100% - 264px);
  z-index: 0;
  height: 256px;
  width: 256px;
  display: flex;
  align-items: center;
}

.cyphersystem img.background-image-icon {
  border: none;
  filter: drop-shadow(0px 0px 3px rgb(0, 0, 0, 0.5));
  opacity: 0.5;
}

.cyphersystem img.background-image-icon.custom {
  border: none;
  filter: none;
}

.cyphersystem div.background-image-icon-roll-form {
  position: absolute;
  top: 80px;
  left: 550px;
  opacity: 25%;
  z-index: 1;
}

.cyphersystem img.background-image-icon-roll-form {
  border: none;
  filter: drop-shadow(0px 0px 3px rgb(0, 0, 0, 0.5));
}

.cyphersystem div.background-image-gmi-range-form {
  position: absolute;
  top: 40px;
  left: 10px;
  opacity: 25%;
  z-index: 1;
}

.cyphersystem img.background-image-gmi-range-form {
  border: none;
  filter: drop-shadow(0px 0px 3px rgb(0, 0, 0, 0.5));
}

.cyphersystem .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.cyphersystem .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 115px;
  width: 115px;
  min-width: 115px;
  margin-right: 5px;
  border: 1px solid rgb(0, 0, 0, 0);
  border-radius: 3px;
  object-fit: contain;
}

.cyphersystem .profile-img-gmi {
  border: none;
}

.cyphersystem .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cyphersystem .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.cyphersystem .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cyphersystem .hr-pool {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 0;
  border-top: 1px solid #999;
}

.cyphersystem .hr-roll-engine {
  border: none;
  border-top: 1px solid #BBB;
}

.cyphersystem .stat-pool {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 3px;
  margin-top: 2px;
}

.cyphersystem .stat-pool.disabled {
  border: none;
}

.cyphersystem .align-edge {
  justify-content: flex-end;
  white-space: nowrap;
  text-align: right;
}

.cyphersystem nav.sheet-tabs {
  -webkit-box-flex: 0 0 0;
  -ms-flex: 0 0 0;
  flex: 0 0 0;
  border-top: none;
  border-bottom: none;
  margin: 5px 0 0 0;
  padding: 0px;
}

.cyphersystem .sheet-body,
.cyphersystem .sheet-header,
.cyphersystem .sheet-tabs {
  z-index: 0;
}

.cyphersystem .sheet-body {
  height: 100%;
  overflow-y: auto;
}

.cyphersystem.gmi-form {
  border: 1px solid var(--color-border-dark-1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.cyphersystem .gmi-img-container {
  position: relative;
  max-width: 48px;
  height: 48px;
  margin-right: 5px;
}

.gmi-form .window-content {
  margin: -8px;
  background: unset;
}

.cyphersystem .gmi-body {
  text-shadow: 1px 1px 4px var(--color-shadow-dark);
  color: var(--color-text-light-highlight);
}

.cyphersystem .gmi-actor-name {
  flex: 1;
  overflow: hidden;
}

.cyphersystem .gmi-controls {
  flex: 0 0 20px;
  font-size: var(--font-size-14);
  line-height: 20px;
  padding-left: 2px;
}

.cyphersystem .gmi-h4 {
  flex: 0 0 14px;
  line-height: 14px;
  margin: 0 0 2px;
  padding: 9px 0 0 2px;
}

.cyphersystem .gmi-range-value-container {
  display: flex;
  flex: 0 0 4em;
  align-items: center;
  justify-content: center;
}

.cyphersystem .gmi-range-value {
  display: flex;
  margin: 0;
  font-size: large;
}

.cyphersystem .sheet-body .tab {
  border: 1px solid #999;
  border-top: none;
  height: 100%;
  overflow-y: auto;
}

.cyphersystem .sheet-body .editor {
  height: 100%;
  margin-top: 0px
}

.cyphersystem .sheet-body.limited .tab,
.cyphersystem .sheet-body.limited .editor {
  height: 100%;
}

.cyphersystem .resource-label {
  font-weight: bold;
  text-overflow: ellipsis;
  padding-left: 15px;
  /* vertical-align: middle; */
}

.cyphersystem .resource-label-additional {
  font-weight: bold;
  text-overflow: ellipsis;
  /* vertical-align: middle; */
}

.cyphersystem .resource-label-normal {
  vertical-align: middle;
}

.cyphersystem nav.sheet-tabs .item {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #999;
  border-radius: 3px 3px 0 0;
  line-height: 25px;
  padding: 0 6px;
  white-space: nowrap;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0px 6px;
}

.cyphersystem .tabs .item.active {
  text-decoration: none;
  text-shadow: none;
  font-weight: bold;
  background: none;
  border: 1px solid #999;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  padding: 0px 6px;
}

.cyphersystem .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0 5px;
}

.cyphersystem .items-list.gmi-list {
  padding: 0 0px;
}

.cyphersystem .items-list .item-header {
  font-weight: bold;
}

.cyphersystem .items-list .item-header.gmi-header {
  padding-left: 0;
}

.cyphersystem .items-list hr {
  margin: 0;
  border-bottom: 0;
  border-top: 1px solid rgba(187, 187, 187);
}

.cyphersystem .items-list .item {
  padding: 3px 5px;
}

.cyphersystem .items-list .item.gmi-item {
  padding-left: 0;
}

.cyphersystem .tabs .item ~ .item {
  border-left: none;
  padding: 0px 6px;
}

.cyphersystem .items-list .item ~ .item {
  border-top: 1px solid #BBB;
}

.cyphersystem .items-list .item:last-child {
  border-bottom: 1px solid #BBB;
}

.cyphersystem .settings .items-list .item-settings:last-child {
  border-bottom: 1px solid #BBB;
  height: 36px;
}

.cyphersystem .item-desc:last-child {
  border-bottom: 1px solid #BBB;
}

.cyphersystem .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.cyphersystem .items-list .item img {
  display: block;
}

.cyphersystem .items-list .item-name {
  margin: 0;
  line-height: 1.4;
  padding-left: 12px;
  text-indent: -12px;
}

.cyphersystem .item-name a.inline-roll,
.cyphersystem .item-name a.entity-link {
  text-indent: 0px;
}

.cyphersystem .items-list .item-name p {
  margin: 3px 0px;
  line-height: 1.4;
  font-size: 13px;
}

.cyphersystem .items-list .item-damage {
  flex: 0;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.cyphersystem .items-list .item-controls {
  -webkit-box-flex: 0 0 4em;
  -ms-flex: 0 0 4em;
  flex: 0 0 4em;
  text-align: right;
  line-height: 1.4;
}

.cyphersystem .items-list .item-quantity {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  text-align: center;
  white-space: nowrap;
  line-height: 1.4;
}

.cyphersystem .items-list .item-cypher-limit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.cyphersystem .items-list .item-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.cyphersystem .items-list .description {
  text-align: left;
  line-height: 1.4;
  border-top-style: dashed;
  border-color: rgba(187, 187, 187);
  border-top-width: 1px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}

.cyphersystem .items-list .description .secret {
  display: none;
}

.cyphersystem .items-list .description .secret.revealed {
  display: block;
  margin-right: 60px;
}

.cyphersystem .items-list .description ul {
  list-style-type: disc;
}

.cyphersystem .items-list .description p:last-of-type {
  margin: 0 0 0 0;
}

.cyphersystem .items-list .description p:first-of-type {
  margin: 0 0 0.5em 0;
}

.cyphersystem .items-list .description p:only-of-type {
  margin: 0;
}

.cyphersystem .items-list .item-skillLevel {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  text-align: center;
}

.cyphersystem .tox .tox-editor-container {
  background: rgba(255, 255, 255, 0.3);
}

.cyphersystem .tox-tinymce {
  border-radius: 0px;
}

.cyphersystem .centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cyphersystem .item-settings {
  height: 35px;
  align-items: center;
}

.cyphersystem .item-subheading {
  height: 35px;
  align-items: end;
}

.cyphersystem input[type="text"].setting-input,
.cyphersystem input[type="number"].setting-input {
  width: 135px;
}

.cyphersystem input[type="text"],
.cyphersystem input[type="number"],
.cyphersystem input[type="password"],
.cyphersystem input[type="datetime-local"],
.cyphersystem input[type="range"] {
  margin-bottom: 2px;
  margin-top: 2px;
  width: 100%;
  text-align: center;
}

.cyphersystem input[type="text"].input-cypher-limit,
.cyphersystem input[type="number"].input-cypher-limit {
  width: 40px;
  margin: -2px 0;
  height: 19px;
  padding: 0;
}

.cyphersystem input[type="text"].stat-input,
.cyphersystem input[type="number"].stat-input {
  border: none;
  background: none;
  margin: -1px;
  padding: 0;
}

.cyphersystem input[name="name"] {
  font-weight: bold;
}

.cyphersystem input[type="checkbox"] {
  flex: 0 0 15px;
  margin: auto 0px;
  height: 13px;
  width: 13px;
}

.cyphersystem input:disabled {
  border: 1px solid rgb(0, 0, 0, 0);
}

.cyphersystem select {
  height: 26px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  text-align-last: center;
  padding: 1px 3px;
}

.cyphersystem .damage-track-select {
  min-width: 95px;
  max-width: 95px;
}

.cyphersystem .item-angle {
  width: 12px;
  text-align: center;
  margin-left: 3px;
  margin-right: -4px;
}

.cyphersystem .number {
  display: inline-block;
  margin: auto;
  min-width: 30px;
}

.cyphersystem .settings-list {
  padding-left: 0px;
  text-indent: 0px;
  display: flex;
}

.cyphersystem .centered-fields {
  margin-top: auto;
  margin-bottom: auto;
}

.cyphersystem .auto-margin {
  margin: auto !important;
}

.cyphersystem .description-image {
  float: right;
  margin: 0 3px 0 5px;
  background: rgba(0, 0, 0, 0.05)
}

.description-image-chat {
  float: right;
  margin: 0 0 0 5px;
}

.cyphersystem .label-basic-info {
  flex: 0 0 45px;
  text-align: right;
  padding: 0 3px 0 6px;
}

.cyphersystem .rollForLevel {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}

.cyphersystem .rollForLevel i {
  color: #7a7971;
}

.cyphersystem .tag-list {
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  padding: 2px 3px 3px 3px;
  line-height: 1.4;
}

.cyphersystem .tag-items {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}

.cyphersystem .tag-items i {
  color: #7a7971;
}

.cyphersystem .disabled {
  pointer-events: none;
  color: #4b4a44;
}

.cyphersystem .item-angle {
  transform: rotate(0deg);
  transform-origin: 0%;
  transition: transform 0.4s;
}

.cyphersystem .arrow-active {
  transform: rotate(90deg);
  transform-origin: 0;
  transition: transform 0.4s;
}

.cyphersystem .fa-minus-square.stat,
.fa-plus-square.stat {
  /* font-size: 12px; */
  vertical-align: -1px;
}

.cyphersystem .stat-roll-button {
  flex: 0 0 15px;
  text-align: right;
  padding-right: 3px;
}

.cyphersystem .vl {
  border-left: 1px solid #999;
  margin-right: 2px;
}

.cyphersystem .edge-label {
  flex: 0 0 0;
  padding-left: 5px;
}

.cyphersystem .stat-controls {
  white-space: nowrap;
  height: 19px;
}

.cyphersystem .all-stats {
  margin-top: 5px;
}

.cyphersystem .stat-block + .stat-block {
  margin-left: 5px
}

.cyphersystem .additional-block {
  max-width: 120px;
}

.cyphersystem input[type="number"].edge-input {
  height: 19px;
  max-width: 40px;
  width: auto;
  margin: 0;
  text-align: center;
}

.cyphersystem .fa-sync-alt.stat {
  font-size: 11px;
  vertical-align: 0px;
  margin-left: 0px;
}

.cyphersystem .nonPC-stat-buttons {
  flex: 0 0 50px;
  text-align: right;
  padding-right: 3px;
}

.cyphersystem .nonPC-stat-label {
  margin-right: -32px;
}

.cyphersystem .damage-track-apply {
  flex: 0;
}

.cyphersystem .reset-stat {
  margin-left: 5px
}

.cyphersystem .archived {
  color: dimgrey;
}

.cyphersystem .black {
  color: black;
}

.cyphersystem .archived-image {
  opacity: 60%;
}

.cyphersystem .tag-inactive {
  color: dimgrey;
  border: 1px dashed;
}

.cyphersystem .Inability {
  color: red;
}

.cyphersystem .Trained {
  color: green;
}

.cyphersystem .Specialized {
  color: blue;
}

.cyphersystem .item-controls-spells {
  -webkit-box-flex: 0 0 5em;
  -ms-flex: 0 0 5em;
  flex: 0 0 5em;
  text-align: right;
}

.cyphersystem input.settings-input,
select.settings-input {
  width: 147.75px;
}

.cyphersystem .recovery-rolls {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.cyphersystem .tab-icon {
  border: none;
  height: 20px;
  margin: 3px 0px -5px 0px;
}

.cyphersystem .profile-img-container {
  position: relative;
  max-width: 115px;
  height: 115px;
  margin-right: 5px;
}

.cyphersystem .profile-img-overlay {
  position: absolute;
  top: 94px;
  left: 92px;
  text-shadow: 0px 0px 2px #000;
  font-size: medium;
  color: white;
}

.cyphersystem .profile-img-overlay-exclusive-tag:hover {
  text-shadow: 0px 0px 2px #000;
}

.cyphersystem .profile-img-overlay-lock {
  position: absolute;
  top: 102px;
  left: 4px;
  opacity: 85%;
  text-shadow: 0px 0px 5px #000;
  font-size: xx-small;
  color: white;
}

.cyphersystem .profile-img-overlay-multi-roll {
  position: absolute;
  top: 33.5px;
  left: 27.5px;
  opacity: 85%;
  text-shadow: 0px 0px 5px #000000;
  font-size: xxx-large;
  color: white;
}

.cyphersystem .dice-tray {
  position: absolute;
  width: 32px;
  height: 115px;
  border: 0;
  top: 38px;
  background: url(/ui/denim075.png) repeat;
  box-shadow: 0 0 20px var(--color-shadow-dark);
  z-index: -1;
  padding: 6px 4px 6px 4px;
  text-align: center;
  color: var(--color-text-light-highlight);
  font-size: 22px;
  /* backdrop-filter: blur(5px); */
}


.cyphersystem .dice-tray.right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  left: 100%;
}

.cyphersystem .dice-tray.left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  left: -32px;
}

.cyphersystem .dice-tray-hidden {
  display: none;
}

/* Roll Engine */

.cyphersystem .roll-engine-left-column {
  border-right: 1px solid #BBB;
  padding-right: 4px;
}

.cyphersystem .roll-engine-heading {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.cyphersystem .roll-engine-label {
  display: inline-block;
  width: 170px;
  text-align: right;
}

.cyphersystem .roll-engine-label-summary {
  display: inline-block;
  width: 95%;
  text-align: left;
  margin-bottom: 5px;
}

.cyphersystem .roll-engine-summary-bottom {
  position: absolute;
  bottom: 10px;
  width: 361px;
  text-align: center;
}

.cyphersystem .multi-roll-active {
  color: blue;
}

.cyphersystem .roll-engine-label-summary.red {
  color: red;
}

.cyphersystem .roll-engine-label-summary.blue {
  color: blue;
}

.cyphersystem .exceeded {
  color: red;
}

.cyphersystem .roll-engine-select {
  height: 26px;
  width: 170px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align-last: center;
}

.cyphersystem .roll-engine-select-eased-hindered {
  height: 26px;
  width: 110px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align-last: center;
}

.cyphersystem input.roll-engine-input {
  width: 170px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.cyphersystem input.roll-engine-input-eased-hindered {
  width: 57px;
  margin-left: 0px;
  margin-bottom: 5px;
  text-align: center;
}

.cyphersystem .roll-engine-button {
  width: 32%;
}

.cyphersystem div.cypher-logo {
  border: none;
  display: flex;
  padding: 0;
  min-width: 154.75px;
}

.cyphersystem img.cypher-logo {
  border: none !important;
  vertical-align: middle;
  margin-right: 0px !important;
  opacity: 1;
  object-fit: contain;
}

.cyphersystem .sheet-header img.pc-logo {
  height: auto;
  max-height: 85px;
}

.cyphersystem .sheet-header img.npc-logo {
  max-height: 59px;
}

.cyphersystem img.cypher-logo.white {
  filter: drop-shadow(0px 0px 3px rgb(0, 0, 0, 0.5));
}

.cyphersystem .items-list button.file-picker {
  height: 26px;
  margin: 0px 0px 0px 5px;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  text-align-last: center;
  border: 1px solid var(--color-border-light-tertiary);
  width: 147.75px;
  background: rgba(0, 0, 0, 0.05);
}

.cyphersystem .range-picker {
  display: flex;
}

.cyphersystem .label {
  width: 75px;
}

.cyphersystem input[type="range"] + .range-value {
  min-width: 147.75px;
  max-width: 147.75px;
  border-color: var(--color-border-light-tertiary);
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  height: 26px;
}

/* Sidebar style */

:root {
  --cs-label-note: "Note";
  --cs-box-border-color: #333;
}

:root:lang(en) {
  --cs-label-note: "Note";
}

.cypher-note {
  border: 1px solid var(--cs-box-border-color);
  border-radius: 4px;
  box-shadow: 5px 5px 5px #000;
  padding: 3px 6px;
  width: calc(100% - 1em);
  box-sizing: border-box;
  display: flow-root;
  margin: 1rem 0rem;
}

section.cypher-note > p {
  margin-top: 0px;
}

.cypher-note::before {
  border: var(--cs-box-border-color) 1px solid;
  position: relative;
  top: -0.7em;
  margin-left: 0.3em;
  padding: 0em 0.5em 0em 0.5em;
  display: inline;
}

.cypher-note::before {
  content: var(--cs-label-note);
  background-color: #ceceb0;
}

.cypher-note {
  font-style: italic;
  background-color: #d7d7c0;
  background-image: linear-gradient(#d7d7c0, #FFF);
}

.cyphersystem .copy-ability-button {
  margin: 0px;
  line-height: 22px;
  border: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.05);
}