/* Global */

.sheet.journal-entry .journal-entry-page {
  line-height: 1.4;
}

.sheet.journal-entry h4 {
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid var(--color-underline-header);
}

.sheet.journal-entry .journal-entry-page ul p,
.sheet.journal-entry .journal-entry-page ol p {
  margin: 0px;
}

/* Tables */

.sheet.journal-entry .csrd-table,
.cyphersystem .csrd-table {
  width: 100%;
}

.sheet.journal-entry .csrd-table td,
.cyphersystem .csrd-table td {
  padding-left: 6px;
  padding-right: 6px;
}

.sheet.journal-entry .csrd-table td > p,
.cyphersystem .csrd-table td > p {
  margin: 0;
}

.sheet.journal-entry .csrd-td-equipment {
  width: 250px
}

.sheet.journal-entry .csrd-td-armor {
  width: 70px
}

.sheet.journal-entry .csrd-td-hindrance {
  width: 85px
}

.sheet.journal-entry .csrd-td-targeting-task {
  width: 200px
}

.sheet.journal-entry .csrd-td-price {
  width: 75px
}

.sheet.journal-entry .csrd-td-price-category {
  width: 100px
}

.sheet.journal-entry .csrd-td-number-collisions {
  width: 160px
}

/* Details & Summary */

.sheet.journal-entry .csrd-details {
  border: 1px solid var(--color-border-light-tertiary);
  border-radius: 4px;
  padding: 0px 5px;
}

.sheet.journal-entry .csrd-summary {
  margin: 5px 5px;
}