<form class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol" style="background-image: url({{sheetSettings.backgroundImagePath}});" autocomplete="off">

  {{!-- Background Image --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}" style="opacity: {{sheetSettings.backgroundOverlayOpacity}};"></div>

  {{!-- Background Icon --}}
  {{#unless (or sheetSettings.cyphersheetsModuleActive (eq sheetSettings.backgroundIcon "none"))}}
    <div class="background-image-icon">
      <img class="background-image-icon {{sheetSettings.backgroundIcon}}" style="opacity: {{sheetSettings.backgroundIconOpacity}};" src="{{sheetSettings.backgroundIconPath}}">
    </div>
  {{/unless}}

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div style="margin-top: auto; margin-bottom: auto;">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" style="font-weight:bold" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 80px;">
              <input name="system.basic.level" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.basic.level}}{{/if}}" placeholder="{{localize 'CYPHERSYSTEM.Level'}}" title="{{localize 'CYPHERSYSTEM.Level'}}" />
            </div>
          </div>
          <div class="resource-content flexrow flex-center">
            <div class="resources grid grid-3col">
              <div class="resource">
              </div>
              <div class="resource">
              </div>
              <div class="resource flex-group-center">
                <div class="flexrow">
                  <label for="system.pools.quantity.value" class="resource-label-additional {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                    {{localize 'CYPHERSYSTEM.Quantity'}}
                  </label>
                  {{#unless sheetSettings.isLimited}}
                    <div class="nonPC-stat-buttons">
                      <a class="item-control decrease-quantity {{#if sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.SubtractQuantity'}}">
                        <i class="far fa-minus-square stat"></i>
                      </a>
                      <a class="item-control increase-quantity {{#if sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.AddQuantity'}}">
                        <i class="far fa-plus-square stat"></i>
                      </a>
                      <a class="item-control reset-quantity {{#if sheetSettings.isObserver}}disabled{{/if}} reset-stat" title="{{localize 'CYPHERSYSTEM.ResetQuantity'}}">
                        <i class="fas fa-sync-alt stat"></i>
                      </a>
                    </div>
                  {{/unless}}
                </div>
                <div class="resource-content flexrow flex-center stat-pool {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                  <input class="stat-input" name="system.pools.quantity.value" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.quantity.value}}{{/if}}" />
                  &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
                  <input class="stat-input" name="system.pools.quantity.max" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.quantity.max}}{{/if}}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{#unless sheetSettings.isLimited}}
      {{#unless actor.system.settings.general.hideNotes}}
        <a class="item" data-tab="notes">{{localize 'CYPHERSYSTEM.Notes'}}</a>
      {{/unless}}
    {{/unless}}
    {{#unless actor.system.settings.general.hideDescription}}
      <a class="item" data-tab="description">{{localize 'CYPHERSYSTEM.Description'}}</a>
    {{/unless}}
    {{#unless sheetSettings.isLimited}}
      {{#unless actor.system.settings.general.hideEquipment}}
        <a class="item" data-tab="items">{{localize 'CYPHERSYSTEM.Items'}}</a>
      {{/unless}}
      {{#if (and actor.system.settings.general.hideNotes actor.system.settings.general.hideDescription actor.system.settings.general.hideEquipment)}}
        <i class="item">&nbsp;</i>
      {{/if}}
      <a class="item" data-tab="settings" style="flex: 0 0 45px;">
        <i class="fa-solid fa-gear"></i>
      </a>
    {{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body marker">

    {{!-- Notes Tab --}}
    <div class="tab description" data-group="primary" data-tab="notes">
      {{editor enrichedHTML.notes target="system.notes" button=true engine=sheetSettings.editor owner=owner editable=true}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor enrichedHTML.description target="system.description" button=true engine=sheetSettings.editor owner=owner editable=true}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{> systems/cyphersystem/templates/tabs/equipment-tab/equipment.html}}

      {{#if actor.system.settings.equipment.attacks.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/attacks.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.ammo.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/ammo.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.armor.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/armor.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.cyphers.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/cyphers.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.artifacts.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/artifacts.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.oddities.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/oddities.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.materials.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/materials.html}}
      {{/if}}

    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">
              {{localize 'CYPHERSYSTEM.GeneralSettings'}}
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="system.settings.general.isCounter" {{checked
                actor.system.settings.general.isCounter}}>
              &nbsp;{{localize 'CYPHERSYSTEM.CountQuantityOnInitiative'}}
            </div>
            <div class="item-quantity">
              <input class="auto-margin" name="system.settings.general.counting" type="number" value="{{actor.system.settings.general.counting}}" placeholder="-1" style="width: auto;" />
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="system.settings.general.hideArchive" {{checked actor.system.settings.general.hideArchive}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideArchive'}}
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="system.settings.general.hideNotes" {{checked actor.system.settings.general.hideNotes}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideNotes'}}
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="system.settings.general.hideDescription" {{checked actor.system.settings.general.hideDescription}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideDescription'}}
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="system.settings.general.hideEquipment" {{checked actor.system.settings.general.hideEquipment}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideEquipment'}}
            </div>
          </li>
        </ol>
      </div>
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-equipment.html}}
    </div>

  </section>
</form>