<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div style="margin-top: auto; margin-bottom: auto;">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" style="font-weight:bold" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 80px;">
              <input name="system.level" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.level}}{{/if}}" placeholder="{{localize 'CYPHERSYSTEM.Level'}}" title="{{localize 'CYPHERSYSTEM.Level'}}" />
            </div>
          </div>
          <div class="resource-content flexrow flex-center">
            <div class="resources grid grid-3col">
              <div></div>
              <div class="resource flex-group-center">
                <div class="flexrow">
                  <label for="system.health.value" class="resource-label-additional {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                    {{localize 'CYPHERSYSTEM.Health'}}
                  </label>
                  {{#unless sheetSettings.isLimited}}
                    <div class="nonPC-stat-buttons">
                      <a class="item-control decrease-health {{#if sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.SubtractHealth'}}">
                        <i class="far fa-minus-square stat"></i>
                      </a>
                      <a class="item-control increase-health {{#if sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.AddHealth'}}">
                        <i class="far fa-plus-square stat"></i>
                      </a>
                      <a class="item-control reset-health {{#if sheetSettings.isObserver}}disabled{{/if}} reset-stat" title="{{localize 'CYPHERSYSTEM.ResetHealth'}}">
                        <i class="fas fa-sync-alt stat"></i>
                      </a>
                    </div>
                  {{/unless}}
                </div>
                <div class="resource-content flexrow flex-center stat-pool {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                  <input class="stat-input" name="system.health.value" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.health.value}}{{/if}}" />
                  &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
                  <input class="stat-input" name="system.health.max" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.health.max}}{{/if}}" />
                </div>
              </div>
              <div class="resource flex-group-center">
                <div class="resource-content flexrow flex-center flex-between">
                  <label class="resource-label-additional {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                    {{localize 'CYPHERSYSTEM.Damage'}}
                  </label>
                  <label class="resource-label-additional {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                    {{localize 'CYPHERSYSTEM.Armor'}}
                  </label>
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="system.damage" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.damage}}{{/if}}" />
                  &nbsp;
                  <input name="system.armor" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.armor}}{{/if}}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{#unless sheetSettings.isLimited}}
      <a class="item" data-tab="notes">{{localize 'CYPHERSYSTEM.Notes'}}</a>
    {{/unless}}
    <a class="item" data-tab="description">{{localize 'CYPHERSYSTEM.Description'}}</a>
    {{#unless sheetSettings.isLimited}}
      <a class="item" data-tab="items">{{localize 'CYPHERSYSTEM.Inventory'}}</a>
      <a class="item" data-tab="settings" style="flex: 0 0 45px;">
        <i class="fas fa-cog"></i>
      </a>
    {{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Notes Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{editor enrichedHTML.notes target="system.biography" button=true owner=owner editable=true}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor enrichedHTML.description target="actor.system.description" button=true owner=owner editable=true}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{> systems/cyphersystem/templates/tabs/equipment-tab/equipment.html}}

      {{#if actor.system.settings.equipment.attacks}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/attacks.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.ammo}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/ammo.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.armor}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/armor.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.cyphers}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/cyphers.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.artifacts}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/artifacts.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.oddities}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/oddities.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.materials}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/materials.html}}
      {{/if}}

    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.GeneralSettings'}}</div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="system.settings.initiative.active" checked disabled>
              &nbsp;{{localize 'CYPHERSYSTEM.InitiativeBonus'}}
            </div>
            <div class="item-quantity"><input class="auto-margin" name="system.settings.initiative.initiativeBonus" type="text" value="{{actor.system.settings.initiative.initiativeBonus}}" placeholder="0" style="width: auto;" />
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="system.settings.hideArchived" {{checked actor.system.settings.hideArchived}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideArchive'}}
            </div>
          </li>
        </ol>
      </div>
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-equipment.html}}
    </div>

  </section>
</form>