<div class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol" style="background-image: url({{sheetSettings.backgroundImagePath}});" autocomplete="off">

  {{!-- Background Image --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}" style="opacity: {{sheetSettings.backgroundOverlayOpacity}};"></div>

  {{!-- Background Icon --}}
  {{#unless (or sheetSettings.cyphersheetsModuleActive (eq sheetSettings.backgroundIcon "none"))}}
    <div class="background-image-icon">
      <img class="background-image-icon {{sheetSettings.backgroundIcon}}" style="opacity: {{sheetSettings.backgroundIconOpacity}};" src="{{sheetSettings.backgroundIconPath}}">
    </div>
  {{/unless}}

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div style="margin-top: auto; margin-bottom: auto;">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" style="font-weight:bold" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 80px;">
              <input name="system.basic.level" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.basic.level}}{{/if}}" placeholder="{{localize 'CYPHERSYSTEM.Level'}}" title="{{localize 'CYPHERSYSTEM.Level'}}" />
            </div>
          </div>
          <div class="resource-content flexrow flex-center">
            <div class="resources grid {{#if (eq sheetSettings.logoImage 'none')}}grid-2col{{else}}grid-3col{{/if}}">
              <div class="resource flex-group-center">
                <div class="flexrow">
                  <label for="system.pools.health.value" class="resource-label-additional {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
                    {{localize 'CYPHERSYSTEM.Health'}}
                  </label>
                  {{#unless sheetSettings.isLimited}}
                    <div class="nonPC-stat-buttons">
                      <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.SubtractHealth'}}" 
                        data-action="decField" data-field="system.pools.health.value">
                        <i class="fa-item quantity fa-regular fa-minus-square"></i>
                      </a>
                      <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.AddHealth'}}" 
                        data-action="incField" data-field="system.pools.health.value">
                        <i class="fa-item quantity fa-regular fa-plus-square"></i>
                      </a>
                      <a class="item-control {{disabled sheetSettings.isObserver}} reset-stat" title="{{localize 'CYPHERSYSTEM.ResetHealth'}}" 
                        data-action="resetField" data-field="system.pools.health">
                        <i class="fa-item fas fa-sync-alt stat"></i>
                      </a>
                    </div>
                  {{/unless}}
                </div>
                <div class="resource-content flexrow flex-center stat-pool {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
                  <input class="stat-input" name="system.pools.health.value" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.health.value}}{{/if}}" />
                  &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
                  <input class="stat-input" name="system.pools.health.max" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.health.max}}{{/if}}" />
                </div>
              </div>
              <div class="resource flex-group-center">
                <div class="resource-content flexrow flex-center flex-between">
                  <label class="resource-label-additional {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
                    {{localize 'CYPHERSYSTEM.Damage'}}
                  </label>
                  <label class="resource-label-additional {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
                    {{localize 'CYPHERSYSTEM.Armor'}}
                  </label>
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="system.combat.damage" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.combat.damage}}{{/if}}" />
                  &nbsp;
                  <input name="system.combat.armor" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.combat.armor}}{{/if}}" />
                </div>
              </div>
              {{#unless (eq sheetSettings.logoImage "none")}}
                <div class="resource stat-block cypher-logo flex-group-center">
                  <img class="cypher-logo npc-logo {{sheetSettings.logoImage}}" style="opacity: {{sheetSettings.logoImageOpacity}};" src="{{sheetSettings.logoPath}}">
                </div>
              {{/unless}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  {{> "templates/generic/tab-navigation.hbs"}}

  {{!-- Sheet Body --}}
  <section class="sheet-body npc">

    {{!-- Notes Tab --}}
    <div class="tab notes {{tabs.notes.cssClass}}" data-group="{{tabs.notes.group}}" data-tab="{{tabs.notes.id}}">
      <prose-mirror toggled name="system.notes" value="{{enrichedHTML.notes}}">{{{enrichedHTML.notes}}}</prose-mirror>
    </div>

    {{!-- Description Tab --}}
    <div class="tab description {{tabs.description.cssClass}}" data-group="{{tabs.description.group}}" data-tab="{{tabs.description.id}}">
      <prose-mirror toggled name="system.description" value="{{enrichedHTML.description}}">{{{enrichedHTML.description}}}</prose-mirror>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items {{tabs.items.cssClass}}" data-group="{{tabs.items.group}}" data-tab="{{tabs.items.id}}">

      {{> systems/cyphersystem/templates/tabs/equipment-tab/equipment.html}}

      {{#if actor.system.settings.equipment.attacks.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/attacks.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.ammo.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/ammo.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.armor.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/armor.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.cyphers.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/cyphers.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.artifacts.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/artifacts.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.oddities.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/oddities.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.materials.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/materials.html}}
      {{/if}}

    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings {{tabs.settings.cssClass}}" data-group="{{tabs.settings.group}}" data-tab="{{tabs.settings.id}}">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.GeneralSettings'}}</div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              {{localize 'CYPHERSYSTEM.InitiativeBonus'}}
            </div>
            <div class="item-quantity"><input class="auto-margin" name="system.settings.general.initiativeBonus" type="number" value="{{actor.system.settings.general.initiativeBonus}}" placeholder="0" style="width: auto;" />
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="system.settings.general.hideArchive" {{checked actor.system.settings.general.hideArchive}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideArchive'}}
            </div>
          </li>
        </ol>
      </div>
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-equipment.html}}
    </div>

  </section>
</div>