<div class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol" style="background-image: url({{sheetSettings.backgroundImagePath}});" autocomplete="off">

  {{!-- Dice Tray --}}
  {{#unless (or sheetSettings.isLimited sheetSettings.isObserver)}}
    <div class="dice-tray {{sheetSettings.diceTray}} {{sheetSettings.backgroundImage}}">
      <a class="dice-tray-d6" data-action="rollDiceTray" data-dice="d6"><i class="fa-item fa-light fa-dice-d6"></i></a>
      <a class="dice-tray-d10" data-action="rollDiceTray" data-dice="d10"><i class="fa-item fa-light fa-dice-d10"></i></a>
      <a class="dice-tray-d20" data-action="rollDiceTray" data-dice="d20"><i class="fa-item fa-light fa-dice-d20"></i></a>
      <a class="dice-tray-d100" data-action="rollDiceTray" data-dice="d100"><i class="fa-item fa-light fa-percent"></i></a>
    </div>
  {{/unless}}

  {{!-- Background Image --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}" style="opacity: {{sheetSettings.backgroundOverlayOpacity}};"></div>

  {{!-- Background Icon --}}
  {{#unless (or sheetSettings.cyphersheetsModuleActive (eq sheetSettings.backgroundIcon "none"))}}
    <div class="background-image-icon">
      <img class="background-image-icon {{sheetSettings.backgroundIcon}}" style="opacity: {{sheetSettings.backgroundIconOpacity}};" src="{{sheetSettings.backgroundIconPath}}">
    </div>
  {{/unless}}

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      {{> systems/cyphersystem/templates/headers/pc-base-info.html}}
      {{> systems/cyphersystem/templates/headers/pc-stats.html}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  {{> "templates/generic/tab-navigation.hbs"}}

  {{!-- Sheet Body --}}
  <section class="sheet-body pc {{#if sheetSettings.isLimited}}limited{{/if}}">

    {{!-- Skills Tab --}}
    <div class="tab skills {{tabs.skills.cssClass}}" data-group="{{tabs.skills.group}}" data-tab="{{tabs.skills.id}}">
      {{!-- Skills --}}
      {{> systems/cyphersystem/templates/tabs/skills-tab/skills.html}}

      {{!-- Power Shifts --}}
      {{> systems/cyphersystem/templates/tabs/skills-tab/power-shifts.html}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat {{tabs.combat.cssClass}}" data-group="{{tabs.combat.group}}" data-tab="{{tabs.combat.id}}">
      {{!-- Damage Track --}}
      {{> systems/cyphersystem/templates/tabs/combat-tab/damage-track.html}}

      {{!-- Lasting Damage --}}
      {{> systems/cyphersystem/templates/tabs/combat-tab/lasting-damage.html}}

      {{!-- Attacks --}}
      {{> systems/cyphersystem/templates/tabs/combat-tab/attacks.html}}

      {{!-- Ammo --}}
      {{> systems/cyphersystem/templates/tabs/combat-tab/ammo.html}}

      {{!-- Armor --}}
      {{> systems/cyphersystem/templates/tabs/combat-tab/armor.html}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab items {{tabs.items.cssClass}}" data-group="{{tabs.items.group}}" data-tab="{{tabs.items.id}}">
      {{!-- Currency --}}
      {{> systems/cyphersystem/templates/tabs/equipment-tab/currency.html}}

      {{!-- Equipment --}}
      {{> systems/cyphersystem/templates/tabs/equipment-tab/equipment.html}}

      {{!-- Cyphers --}}
      {{#if actor.system.settings.equipment.cyphers.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/cyphers.html}}
      {{/if}}

      {{!-- Artifacts --}}
      {{#if actor.system.settings.equipment.artifacts.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/artifacts.html}}
      {{/if}}

      {{!-- Oddities --}}
      {{#if actor.system.settings.equipment.oddities.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/oddities.html}}
      {{/if}}

      {{!-- Materials --}}
      {{#if actor.system.settings.equipment.materials.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/materials.html}}
      {{/if}}
    </div>

    {{!-- Abilities Tab --}}
    <div class="tab abilities {{tabs.abilities.cssClass}}" data-group="{{tabs.abilities.group}}" data-tab="{{tabs.abilities.id}}">
      {{!-- Abilities --}}
      {{> systems/cyphersystem/templates/tabs/abilities-tab/abilities.html}}

      {{!-- Spells --}}
      {{> systems/cyphersystem/templates/tabs/abilities-tab/spells.html}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes {{tabs.notes.cssClass}}" data-group="{{tabs.notes.group}}" data-tab="{{tabs.notes.id}}">
      <prose-mirror toggled name="system.notes" value="{{enrichedHTML.notes}}">{{{enrichedHTML.notes}}}</prose-mirror>
    </div>

    {{!-- GM-Notes Tab --}}
    <div class="tab gm-notes {{tabs.gm-notes.cssClass}}" data-group="{{tabs.gm-notes.group}}" data-tab="{{tabs.gm-notes.id}}">
      <prose-mirror toggled name="system.gmNotes" value="{{enrichedHTML.gmNotes}}">{{{enrichedHTML.gmNotes}}}</prose-mirror>
    </div>

    {{!-- Description Tab --}}
    <div class="tab description {{tabs.description.cssClass}}" data-group="{{tabs.description.group}}" data-tab="{{tabs.description.id}}">
      <prose-mirror toggled name="system.description" value="{{enrichedHTML.description}}">{{{enrichedHTML.description}}}</prose-mirror>
    </div>

    {{!-- Tags and Recursions Tab --}}
    <div class="tab tags {{tabs.tags.cssClass}}" data-group="{{tabs.tags.group}}" data-tab="{{tabs.tags.id}}">
      {{!-- Recursions --}}
      {{#if (eq actor.system.settings.general.gameMode "Strange")}}
        {{> systems/cyphersystem/templates/tabs/tags-tab/recursions.html}}
      {{/if}}

      {{!-- Tags --}}
      {{#if actor.system.settings.general.tags.active}}
        {{> systems/cyphersystem/templates/tabs/tags-tab/tags.html}}
      {{/if}}
    </div>

    {{!-- Settings Tab --}}
    {{> systems/cyphersystem/templates/tabs/settings-tab/settings-pc.html}}

  </section>
</div>