<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div style="margin-top: auto; margin-bottom: auto;">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" style="font-weight:bold" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 80px;">
              <input name="system.level" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.level}}{{/if}}" placeholder="{{localize 'CYPHERSYSTEM.Level'}}" title="{{localize 'CYPHERSYSTEM.Level'}}" />
            </div>
          </div>
          <div class="resource-content flexrow flex-center">
            <div class="resources grid grid-3col">
              <div class="resource">
              </div>
              <div class="resource flex-group-center">
                <label class="resource-label-additional {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                  {{localize 'CYPHERSYSTEM.Crew'}}
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="system.crew" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.crew}}{{/if}}" />
                </div>
              </div>
              <div class="resource flex-group-center">
                <label class="resource-label-additional {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                  {{localize 'CYPHERSYSTEM.WeaponSystems'}}
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="system.weaponSystems" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.weaponSystems}}{{/if}}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{#unless sheetSettings.isLimited}}
      <a class="item" data-tab="notes">{{localize 'CYPHERSYSTEM.Notes'}}</a>
    {{/unless}}
    <a class="item" data-tab="description">{{localize 'CYPHERSYSTEM.Description'}}</a>
    {{#unless sheetSettings.isLimited}}
      <a class="item" data-tab="items">{{localize 'CYPHERSYSTEM.Storage'}}</a>
      <a class="item" data-tab="settings" style="flex: 0 0 45px;">
        <i class="fas fa-cog"></i>
      </a>
    {{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Notes Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{editor enrichedHTML.notes target="actor.system.biography" button=true owner=owner editable=true}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor enrichedHTML.description target="actor.system.description" button=true owner=owner editable=true}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{> systems/cyphersystem/templates/tabs/equipment-tab/equipment.html}}

      {{#if actor.system.settings.equipment.attacks}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/attacks.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.ammo}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/ammo.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.armor}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/armor.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.cyphers}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/cyphers.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.artifacts}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/artifacts.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.oddities}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/oddities.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.materials}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/materials.html}}
      {{/if}}

    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.GeneralSettings'}}</div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="system.settings.initiative.active" checked disabled>
              &nbsp;{{localize 'CYPHERSYSTEM.InitiativeBonus'}}
            </div>
            <div class="item-quantity">
              <input class="auto-margin" name="system.settings.initiative.initiativeBonus" type="text" value="{{actor.system.settings.initiative.initiativeBonus}}" placeholder="0" style="width: auto;" />
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="system.settings.hideArchived" {{checked
                actor.system.settings.hideArchived}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideArchive'}}
            </div>
          </li>
        </ol>
      </div>
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-equipment.html}}
    </div>

  </section>
</form>