<form class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol" style="background-image: url({{sheetSettings.backgroundImagePath}});" autocomplete="off">

  {{!-- Background Image --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}" style="opacity: {{sheetSettings.backgroundOverlayOpacity}};"></div>

  {{!-- Background Icon --}}
  {{#unless (or sheetSettings.cyphersheetsModuleActive (eq sheetSettings.backgroundIcon "none"))}}
    <div class="background-image-icon">
      <img class="background-image-icon {{sheetSettings.backgroundIcon}}" style="opacity: {{sheetSettings.backgroundIconOpacity}};" src="{{sheetSettings.backgroundIconPath}}">
    </div>
  {{/unless}}

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div style="margin-top: auto; margin-bottom: auto;">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" style="font-weight:bold" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 80px;">
              <input name="system.basic.level" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.basic.level}}{{/if}}" placeholder="{{localize 'CYPHERSYSTEM.Level'}}" title="{{localize 'CYPHERSYSTEM.Level'}}" />
            </div>
          </div>
          <div class="resource-content flexrow flex-center">
            <div class="resources grid {{#if (eq sheetSettings.logoImage 'none')}}grid-2col{{else}}grid-3col{{/if}}">
              <div class="resource flex-group-center">
                <label class="resource-label-additional {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                  {{localize 'CYPHERSYSTEM.Crew'}}
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="system.basic.crew" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.basic.crew}}{{/if}}" />
                </div>
              </div>
              <div class="resource flex-group-center">
                <label class="resource-label-additional {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
                  {{localize 'CYPHERSYSTEM.WeaponSystems'}}
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="system.basic.weaponSystems" type="number" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.basic.weaponSystems}}{{/if}}" />
                </div>
              </div>
              {{#unless (eq sheetSettings.logoImage "none")}}
                <div class="resource stat-block cypher-logo flex-group-center">
                  <img class="cypher-logo npc-logo {{sheetSettings.logoImage}}" style="opacity: {{sheetSettings.logoImageOpacity}};" src="{{sheetSettings.logoPath}}">
                </div>
              {{/unless}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{#unless sheetSettings.isLimited}}
      <a class="item" data-tab="notes">{{localize 'CYPHERSYSTEM.Notes'}}</a>
    {{/unless}}
    <a class="item" data-tab="description">{{localize 'CYPHERSYSTEM.Description'}}</a>
    {{#unless sheetSettings.isLimited}}
      <a class="item" data-tab="items">{{localize 'CYPHERSYSTEM.Storage'}}</a>
      <a class="item" data-tab="settings" style="flex: 0 0 45px;">
        <i class="fa-solid fa-gear"></i>
      </a>
    {{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body vehicle">

    {{!-- Notes Tab --}}
    <div class="tab description" data-group="primary" data-tab="notes">
      {{editor enrichedHTML.notes target="system.notes" button=true engine=sheetSettings.editor owner=owner editable=true}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor enrichedHTML.description target="system.description" button=true engine=sheetSettings.editor owner=owner editable=true}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{> systems/cyphersystem/templates/tabs/equipment-tab/equipment.html}}

      {{#if actor.system.settings.equipment.attacks.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/attacks.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.ammo.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/ammo.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.armor.active}}
        {{> systems/cyphersystem/templates/tabs/combat-tab/armor.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.cyphers.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/cyphers.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.artifacts.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/artifacts.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.oddities.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/oddities.html}}
      {{/if}}

      {{#if actor.system.settings.equipment.materials.active}}
        {{> systems/cyphersystem/templates/tabs/equipment-tab/materials.html}}
      {{/if}}

    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.GeneralSettings'}}</div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              {{localize 'CYPHERSYSTEM.InitiativeBonus'}}
            </div>
            <div class="item-quantity">
              <input class="auto-margin" name="system.settings.general.initiativeBonus" type="text" value="{{actor.system.settings.general.initiativeBonus}}" placeholder="0" style="width: auto;" />
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="system.settings.general.hideArchive" {{checked
                actor.system.settings.general.hideArchive}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideArchive'}}
            </div>
          </li>
        </ol>
      </div>
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-equipment.html}}
    </div>

  </section>
</form>