<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">{{localize 'CYPHERSYSTEM.Armor'}}</div>
      <div class="item-quantity">{{localize 'CYPHERSYSTEM.Rating/Cost'}}</div>
      <div class="item-controls">
        <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="armor">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{#if (eq actor.system.basic.unmaskedForm "Teen")}}
      {{> systems/cyphersystem/templates/item-lists/armor-list-teen.html}}
    {{else}}
      {{> systems/cyphersystem/templates/item-lists/armor-list.html}}
    {{/if}}
    {{#if (eq actor.type "pc")}}
      {{> systems/cyphersystem/templates/item-lists/armor-list-total.html}}
    {{/if}}
  </ol>
</div>