{{#unless (eq actor.system.basic.unmaskedForm "Teen")}}
  {{#if sheetSettings.showSpells}}
    <div class="flexrow">
      <ol class="items-list" id="Spell">
        <li class="item flexrow item-header">
          <div class="item-name">
            {{#if (eq actor.system.settings.abilities.labelSpells "")}}
              {{localize 'CYPHERSYSTEM.Spells'}}
            {{else}}
              {{actor.system.settings.abilities.labelSpells}}
            {{/if}}
          </div>
          <div class="item-cypher-limit">
            <label for="actor.system.abilities.preparedSpells" class="resource-label {{#if (or sheetSettings.isLimited sheetSettings.isObserver)}}disabled{{/if}}">
              {{localize 'CYPHERSYSTEM.Prepared'}}:&nbsp;
            </label>
          </div>
          <div class="item-cypher-limit">
            <input class="input-cypher-limit" type="number" name="system.abilities.preparedSpells" value="{{actor.system.abilities.preparedSpells}}" />
          </div>
        </li>
        {{> systems/cyphersystem/templates/item-lists/spells-list.html}}
      </ol>
    </div>
  {{/if}}
{{/unless}}