<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">{{localize 'CYPHERSYSTEM.Armor'}}</div>
      <div class="item-quantity">{{localize 'CYPHERSYSTEM.SpeedCost'}}</div>
      <div class="item-quantity">{{localize 'CYPHERSYSTEM.Rating'}}</div>
      <div class="item-controls">
        {{#if (eq data.settings.gameMode.currentSheet "Teen")}}
        <a class="item-control item-create {{#if ../data.isObserver}}disabled{{/if}}"
          title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="teen Armor">
          <i class="fas fa-plus"></i>
        </a>
        {{else}}
        <a class="item-control item-create {{#if ../data.isObserver}}disabled{{/if}}"
          title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="armor">
          <i class="fas fa-plus"></i>
        </a>
        {{/if}}
      </div>
    </li>
    {{#if (eq data.settings.gameMode.currentSheet "Teen")}}
    {{> systems/cyphersystem/templates/tabs/teenArmor.html}}
    {{else}}
    {{> systems/cyphersystem/templates/tabs/armor.html}}
    {{/if}}
  </ol>
</div>