{{#each actor.data.armor as |item id|}}
<li class="item flexrow" data-item-id="{{item._id}}" style="color: {{#if data.archived}}grey{{/if}}">
  <h4 class="item-name"><a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}"><i class="fas fa-angle-{{#if data.showDescription}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>{{item.name}}</a> ({{#if (eq data.armorTyp "artifact")}}{{localize 'CYPHERSYSTEM.Artifact'}}{{else if (eq data.armorType "special ability")}}{{localize 'CYPHERSYSTEM.SpecialAbility'}}{{else if (eq data.armorType "light armor")}}{{localize 'CYPHERSYSTEM.LightArmor'}}{{else if (eq data.armorType "medium armor")}}{{localize 'CYPHERSYSTEM.MediumArmor'}}{{else if (eq data.armorType "heavy armor")}}{{localize 'CYPHERSYSTEM.HeavyArmor'}}{{else if (eq data.armorType "artifact")}}{{localize 'CYPHERSYSTEM.Artifact'}}{{else if (eq data.armorType "special ability")}}{{localize 'CYPHERSYSTEM.SpecialAbility'}}{{/if}}{{#unless (eq data.notes "")}}, {{data.notes}}{{/unless}})</h4>
  <div class="item-quantity">{{data.speedCost}}</div>
  <div class="item-quantity">{{data.armorValue}}</div>
  <div class="item-controls">
    <a class="item-control armor-active" title="{{localize 'CYPHERSYSTEM.ArmorActive'}}"><i class="fas fa-check" aria-hidden="true" style="color: {{#if data.archived}}grey{{else}}{{#unless data.armorActive}}grey{{/unless}}{{/if}}"></i></a>
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-file-alt"></i></a>
    <a class="item-control item-delete" title="{{#if data.archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}"><i class="fas fa-{{#if data.archived}}undo{{else}}archive{{/if}}"></i></a>
  </div>
</li>
{{#if data.showDescription}}
<li class="item-desc flexrow" style="color: {{#if data.archived}}grey{{/if}}">
  <div class="description"><img class="description-image" src="{{item.img}}" style="opacity: {{#if data.archived}}50%{{/if}}"="50" height="50"/>{{{enrichHTML data.description}}}</div>
</li>
{{/if}}
{{/each}}
