<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">
        {{#if (eq settings.equipment.artifactsName "")}}
        {{localize 'CYPHERSYSTEM.Artifacts'}}
        {{else}}
        {{settings.equipment.artifactsName}}
        {{/if}}
      </div>
      <div class="item-quantity">{{localize 'CYPHERSYSTEM.Level'}}</div>
      <div class="item-controls">
        <a class="item-control item-create {{#if ./isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="artifact">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{#each actor.artifacts as |item id|}}
    <li class="item flexrow {{#if archived}}archived{{/if}}" data-item-id="{{item._id}}">
      <h4 class="item-name">
        <a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}">
          <i id="arrow-{{item._id}}" class="fas fa-angle-{{#if (expanded item._id)}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>
          {{~#if identified ~}}
          {{~item.name ~}}
          {{~else ~}}
          {{~localize 'CYPHERSYSTEM.UnidentifiedArtifact' ~}}
          {{~/if~}}
        </a>
        {{#if (and depletion identified) ~}}
        {{localize 'CYPHERSYSTEM.OpenParenthesis' ~}}
        {{localize 'CYPHERSYSTEM.depletion' ~}}
        {{localize 'CYPHERSYSTEM.Colon'}}
        {{{enrichHTML depletion}}}
        {{~localize 'CYPHERSYSTEM.CloseParenthesis'}}
        {{/if}}
      </h4>
      <div class="item-quantity">
        {{#if identified}}
        {{#if rollForLevel}}
        <a class="rollForLevel" title="{{localize 'CYPHERSYSTEM.RollForLevelButton'}}">
          <i class="fas fa-question"></i>
          {{level}}
        </a>
        {{else}}
        {{{enrichHTML level}}}
        {{/if}}
        {{else}}
        {{localize 'CYPHERSYSTEM.?'}}
        {{/if}}
      </div>
      <div class="item-controls">
        {{#unless identified}}
        <a class="item-control identify-item {{#if ../isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.MarkIdentified'}}">
          <i class="far fa-eye-slash"></i>
        </a>
        {{/unless}}
        {{#if (or identified ../isGM)}}
        <a class="item-control item-edit {{#if ../isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.EditItem'}}">
          <i class="fas fa-file-alt"></i>
        </a>
        {{/if}}
        <a class="item-control item-delete {{#if ../isObserver}}disabled{{/if}}" title="{{#if archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}"><i class="fas fa-{{#if archived}}undo{{else}}archive{{/if}}"></i></a>
      </div>
    </li>

    {{#if (expanded item._id)}}
    <li class="item-desc flexrow {{#if archived}}archived{{/if}}">
      <div class="description desc-{{item._id}}">
        <img class="description-image {{#if archived}}archived-image{{/if}}" src="{{item.img}}" width="50" height="50" />
        {{#if identified}}
        {{{enrichHTML description}}}
        {{else}}
        <p>{{localize 'CYPHERSYSTEM.???'}}</p>
        {{/if}}
      </div>
    </li>
    {{/if}}

    {{/each}}
  </ol>
</div>