<div class="flexrow">&nbsp;
  <div class="resources grid grid-6col" style="margin-bottom: 0px">

    {{#if (gte settings.currency.howMany 6)}}
    <div class="resource flex-center">
      {{#unless settings.currency.namesHidden}}
      <label class="resource-label-normal">
        <b>
          {{#if (eq settings.currency.name6 "")}}
          {{localize 'CYPHERSYSTEM.Adamantine'}}
          {{else}}
          {{settings.currency.name6}}
          {{/if}}
        </b>
      </label>
      {{/unless}}
      <div class="resource-content flexrow flex-center flex-between">
        <input title="{{#if (eq settings.currency.name6 '')}}{{localize 'CYPHERSYSTEM.Adamantine'}}{{else}}{{settings.currency.name6}}{{/if}}" type="text" name="settings.currency.quantity6" value="{{settings.currency.quantity6}}" />
      </div>
    </div>
    {{else}}
    <div></div>
    {{/if}}

    {{#if (gte settings.currency.howMany 5)}}
    <div class="resource flex-center">
      {{#unless settings.currency.namesHidden}}
      <label class="resource-label-normal">
        <b>
          {{#if (eq settings.currency.name5 "")}}
          {{localize 'CYPHERSYSTEM.Mithral'}}
          {{else}}
          {{settings.currency.name5}}
          {{/if}}
        </b>
      </label>
      {{/unless}}
      <div class="resource-content flexrow flex-center flex-between">
        <input title="{{#if (eq settings.currency.name5 '')}}{{localize 'CYPHERSYSTEM.Mithral'}}{{else}}{{settings.currency.name5}}{{/if}}" type="text" name="settings.currency.quantity5" value="{{settings.currency.quantity5}}" />
      </div>
    </div>
    {{else}}
    <div></div>
    {{/if}}

    {{#if (gte settings.currency.howMany 4)}}
    <div class="resource flex-center">
      {{#unless settings.currency.namesHidden}}
      <label class="resource-label-normal">
        <b>
          {{#if (eq settings.currency.name4 "")}}
          {{localize 'CYPHERSYSTEM.Platinum'}}
          {{else}}
          {{settings.currency.name4}}
          {{/if}}
        </b>
      </label>
      {{/unless}}
      <div class="resource-content flexrow flex-center flex-between">
        <input title="{{#if (eq settings.currency.name4 '')}}{{localize 'CYPHERSYSTEM.Platinum'}}{{else}}{{settings.currency.name4}}{{/if}}" type="text" name="settings.currency.quantity4" value="{{settings.currency.quantity4}}" />
      </div>
    </div>
    {{else}}
    <div></div>
    {{/if}}

    {{#if (gte settings.currency.howMany 3)}}
    <div class="resource flex-center">
      {{#unless settings.currency.namesHidden}}
      <label class="resource-label-normal">
        <b>
          {{#if (eq settings.currency.name3 "")}}
          {{localize 'CYPHERSYSTEM.Gold'}}
          {{else}}
          {{settings.currency.name3}}
          {{/if}}
        </b>
      </label>
      {{/unless}}
      <div class="resource-content flexrow flex-center flex-between">
        <input title="{{#if (eq settings.currency.name3 '')}}{{localize 'CYPHERSYSTEM.Gold'}}{{else}}{{settings.currency.name3}}{{/if}}" type="text" name="settings.currency.quantity3" value="{{settings.currency.quantity3}}" />
      </div>
    </div>
    {{else}}
    <div></div>
    {{/if}}

    {{#if (gte settings.currency.howMany 2)}}
    <div class="resource flex-center">
      {{#unless settings.currency.namesHidden}}
      <label class="resource-label-normal">
        <b>
          {{#if (eq settings.currency.name2 "")}}
          {{localize 'CYPHERSYSTEM.Silver'}}
          {{else}}
          {{settings.currency.name2}}
          {{/if}}
        </b>
      </label>
      {{/unless}}
      <div class="resource-content flexrow flex-center flex-between">
        <input title="{{#if (eq settings.currency.name2 '')}}{{localize 'CYPHERSYSTEM.Silver'}}{{else}}{{settings.currency.name2}}{{/if}}" type="text" name="settings.currency.quantity2" value="{{settings.currency.quantity2}}" />
      </div>
    </div>
    {{else}}<div></div>{{/if}}

    <div class="resource flex-center">
      {{#unless settings.currency.namesHidden}}
      <label class="resource-label-normal">
        <b>
          {{#if (eq settings.currency.name "")}}
          {{#if (eq settings.currency.howMany "1")}}
          {{localize 'CYPHERSYSTEM.Shins'}}
          {{/if}}
          {{#if (gte settings.currency.howMany 2)}}
          {{localize 'CYPHERSYSTEM.Copper'}}
          {{/if}}
          {{else}}
          {{settings.currency.name}}
          {{/if}}
        </b>
      </label>
      {{/unless}}
      <div class="resource-content flexrow flex-center flex-between">
        <input title="{{#if (eq settings.currency.name '')}}{{#if (eq settings.currency.howMany '1')}}{{localize 'CYPHERSYSTEM.Shins'}}{{/if}}{{#if (gte settings.currency.howMany 2)}}{{localize 'CYPHERSYSTEM.Copper'}}{{/if}}{{else}}{{settings.currency.name}}{{/if}}" type="text" name="settings.currency.quantity" value="{{settings.currency.quantity}}" />
      </div>
    </div>

  </div>
  &nbsp;
</div>