<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">{{localize 'CYPHERSYSTEM.Items'}}</div>
      <div class="item-quantity">{{localize 'CYPHERSYSTEM.Quantity'}}</div>
      <div class="item-controls">
        <a class="item-control item-create {{#if ./data.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="equipment"><i class="fas fa-plus"></i></a>
      </div>
    </li>
    {{#each actor.data.equipment as |item id|}}
    <li class="item resource-content flexrow" data-item-id="{{item._id}}" style="color: {{#if data.archived}}grey{{/if}}">
      <h4 class="item-name"><a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}"><i id="arrow-{{item._id}}" class="fas fa-angle-right item-angle" aria-hidden="true"></i>{{item.name}}</a></h4>
      <div class="item-quantity"><a class="item-control minus-one {{#if ../data.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.SubtractQuantity'}}"><i class="far fa-minus-square"></i></a><p class="number">&nbsp;{{data.quantity}}&nbsp;</p><a class="item-control plus-one {{#if ../data.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.AddQuantity'}}"><i class="far fa-plus-square"></i></a></div>
      <div class="item-controls">
        <a class="item-control item-edit {{#if ../data.isObserver}}disabled{{/if}}" title="Edit Item"><i class="fas fa-file-alt"></i></a>
        <a class="item-control item-delete {{#if ../data.isObserver}}disabled{{/if}}" title="{{#if data.archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}"><i class="fas fa-{{#if data.archived}}undo{{else}}archive{{/if}}"></i></a>
      </div>
    </li>
    <li class="item-desc flexrow" style="color: {{#if data.archived}}grey{{/if}}">
      <div class="description desc-{{item._id}}" style="display: none"><img class="description-image" src="{{item.img}}" style="opacity: {{#if data.archived}}50%{{/if}}" width="50" height="50"/>{{{enrichHTML data.description}}}</div>
    </li>
    {{/each}}
  </ol>
</div>
