<div class="tab settings" data-group="primary" data-tab="settings">
  {{#if (and (eq item.type "ability") (ne ./data.actor ""))}}
  <div class="flexrow">
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-name">{{localize 'CYPHERSYSTEM.GeneralSettings'}}</div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.SortUnder'}}
        </div>
        <div class="item-quantity">
          <select class="auto-margin setting-input" name="data.sorting" style="width: 135px">
            {{#select data.sorting}}
            <option value="Ability">
              {{#if (eq data.actor.data.settings.abilities.nameCategoryTwo "")}}
              {{localize 'CYPHERSYSTEM.Abilities'}}
              {{else}}
              {{data.actor.data.settings.abilities.nameAbilities}}
              {{/if}}
            </option>
            <option value="AbilityTwo" {{#unless data.actor.data.settings.abilities.categoryTwoActive}}disabled{{/unless}}>
              {{#if (eq data.actor.data.settings.abilities.nameCategoryTwo "")}}
              {{localize 'CYPHERSYSTEM.AbilityCategoryTwo'}}
              {{else}}
              {{data.actor.data.settings.abilities.nameCategoryTwo}}
              {{/if}}
            </option>
            <option value="AbilityThree" {{#unless data.actor.data.settings.abilities.categoryThreeActive}}disabled{{/unless}}>
              {{#if (eq data.actor.data.settings.abilities.nameCategoryThree "")}}
              {{localize 'CYPHERSYSTEM.AbilityCategoryThree'}}
              {{else}}
              {{data.actor.data.settings.abilities.nameCategoryThree}}
              {{/if}}
            </option>
            <option value="AbilityFour" {{#unless data.actor.data.settings.abilities.categoryFourActive}}disabled{{/unless}}>
              {{#if (eq data.actor.data.settings.abilities.nameCategoryFour "")}}
              {{localize 'CYPHERSYSTEM.AbilityCategoryFour'}}
              {{else}}
              {{data.actor.data.settings.abilities.nameCategoryFour}}
              {{/if}}
            </option>
            <option value="Spell" {{#unless data.actor.data.settings.abilities.spellsActive}}disabled{{/unless}}>
              {{#if (eq data.actor.data.settings.abilities.nameSpells "")}}
              {{localize 'CYPHERSYSTEM.Spells'}}
              {{else}}
              {{data.actor.data.settings.abilities.nameSpells}}
              {{/if}}
            </option>
            {{/select}}
          </select>
        </div>
    </ol>
  </div>
  {{/if}}
  <div class="flexrow">
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-name">{{localize 'CYPHERSYSTEM.RollButtonSettings'}}</div>
      </li>
    </ol>
  </div>
  <div class="flexrow">
    <ol class="items-list">
      <li class="item flexrow">
        <div class="item-name">
          <i>{{localize 'CYPHERSYSTEM.BasicModifiers'}}</i>
        </div>
      </li>
      {{#unless (or (eq item.type "ability") (eq item.type "teen Ability"))}}
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.Pool'}}
        </div>
        <div class="item-quantity">
          <select class="auto-margin setting-input" name="data.rollButton.pool" style="width: 135px">
            {{#select data.rollButton.pool}}
            <option value="Might">{{localize 'CYPHERSYSTEM.Might'}}</option>
            <option value="Speed">{{localize 'CYPHERSYSTEM.Speed'}}</option>
            <option value="Intellect">{{localize 'CYPHERSYSTEM.Intellect'}}</option>
            <option value="Pool">{{localize 'CYPHERSYSTEM.AnyPool'}}</option>
            {{/select}}
          </select>
        </div>
      </li>
      {{/unless}}
      {{#unless (or (eq item.type "skill") (eq item.type "teen Skill") (eq item.type "attack") (eq item.type "teen Attack"))}}
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.SkillLevel'}}
        </div>
        <div class="item-quantity">
          <select class="auto-margin setting-input" name="data.rollButton.skill" style="width: 135px">
            {{#select data.rollButton.skill}}
            <option value="Specialized">{{localize 'CYPHERSYSTEM.Specialized'}}</option>
            <option value="Trained">{{localize 'CYPHERSYSTEM.Trained'}}</option>
            <option value="Practiced">{{localize 'CYPHERSYSTEM.Practiced'}}</option>
            <option value="Inability">{{localize 'CYPHERSYSTEM.Inability'}}</option>
            {{/select}}
          </select>
        </div>
      </li>
      {{/unless}}
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.Assets'}}
        </div>
        <div class="item-quantity">
          <select class="auto-margin setting-input" name="data.rollButton.assets" style="width: 135px">
            {{#select data.rollButton.assets}}
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            {{/select}}
          </select>
        </div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.EffortForTask'}}
        </div>
        <div class="item-quantity">
          <select class="auto-margin setting-input" name="data.rollButton.effort1" style="width: 135px">
            {{#select data.rollButton.effort1}}
            <option value="0">{{localize 'CYPHERSYSTEM.None'}}</option>
            <option value="1">1 {{localize 'CYPHERSYSTEM.level'}}</option>
            <option value="2">2 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="3">3 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="4">4 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="5">5 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="6">6 {{localize 'CYPHERSYSTEM.levels'}}</option>
            {{/select}}
          </select>
        </div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.EffortForOther'}}
        </div>
        <div class="item-quantity">
          <select class="auto-margin setting-input" name="data.rollButton.effort2" style="width: 135px">
            {{#select data.rollButton.effort2}}
            <option value="0">{{localize 'CYPHERSYSTEM.None'}}</option>
            <option value="1">1 {{localize 'CYPHERSYSTEM.level'}}</option>
            <option value="2">2 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="3">3 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="4">4 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="5">5 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="6">6 {{localize 'CYPHERSYSTEM.levels'}}</option>
            {{/select}}
          </select>
        </div>
      </li>
    </ol>
  </div>
  <div class="flexrow">
    <ol class="items-list">
      <li class="item flexrow">
        <div class="item-name">
          <i>{{localize 'CYPHERSYSTEM.AttackModifiers'}}</i>
        </div>
      </li>
      {{#unless (or (eq item.type "attack") (eq item.type "teen Attack"))}}
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.Damage'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="data.rollButton.damage" type="text" value="{{data.rollButton.damage}}" data-dtype="String" placeholder="{{localize 'CYPHERSYSTEM.Damage'}}" />
        </div>
      </li>
      {{/unless}}
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.EffortForDamage'}}
        </div>
        <div class="item-quantity">
          <select class="auto-margin setting-input" name="data.rollButton.effort3" style="width: 135px">
            {{#select data.rollButton.effort3}}
            <option value="0">{{localize 'CYPHERSYSTEM.None'}}</option>
            <option value="1">1 {{localize 'CYPHERSYSTEM.level'}}</option>
            <option value="2">2 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="3">3 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="4">4 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="5">5 {{localize 'CYPHERSYSTEM.levels'}}</option>
            <option value="6">6 {{localize 'CYPHERSYSTEM.levels'}}</option>
            {{/select}}
          </select>
        </div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.DamageLevelEffort'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="data.rollButton.damagePerLOE" type="text" value="{{data.rollButton.damagePerLOE}}" data-dtype="String" placeholder="{{localize 'CYPHERSYSTEM.DamageLevelEffort'}}" />
        </div>
      </li>
    </ol>
  </div>
  <div class="flexrow">
    <ol class="items-list">
      <li class="item flexrow">
        <div class="item-name">
          <i>{{localize 'CYPHERSYSTEM.AdditionalModifiers'}}</i>
        </div>
      </li>
      {{#unless (or (eq item.type "attack") (eq item.type "teen Attack") (eq item.type "power Shift"))}}
      <li class="item flexrow item-settings">
        <label class="settings-list">
          {{localize 'CYPHERSYSTEM.Difficulty'}}
        </label>
        <select class="auto-margin setting-input" name="data.rollButton.stepModifier" style="max-width:100px">
          {{#select data.rollButton.stepModifier}}
          <option value="eased">{{localize 'CYPHERSYSTEM.easedBy'}}</option>
          <option value="hindered">{{localize 'CYPHERSYSTEM.hinderedBy'}}</option>
          {{/select}}
        </select>
        &nbsp;
        <input class="auto-margin setting-input" name="data.rollButton.additionalSteps" type="text" value="{{data.rollButton.additionalSteps}}" data-dtype="String" placeholder="{{localize 'CYPHERSYSTEM.Difficulty'}}" style="max-width: 32px" />
      </li>
      {{/unless}}
      {{#unless (or (eq item.type "ability") (eq item.type "teen Ability"))}}
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.PoolCost'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="data.rollButton.additionalCost" type="text" value="{{data.rollButton.additionalCost}}" data-dtype="String" placeholder="{{localize 'CYPHERSYSTEM.PoolCost'}}" />
        </div>
      </li>
      {{/unless}}
    </ol>
  </div>
</div>