<div class="tab settings" data-group="primary" data-tab="settings">
  {{#if (eq item.type "tag")}}
  <div class="flexrow">
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-name">{{localize 'CYPHERSYSTEM.GeneralSettings'}}</div>
      </li>
      <!-- <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.ArchiveOtherTags'}}
        </div>
      </li>
      <li class="item flexrow item-settings" style="border-top-style: dashed">
        <div class="flexrow" style="margin: 0px">
          <input class="auto-margin" name="archiveTags" type="text" value="{{archiveTags}}" data-dtype="String" placeholder="" style="text-align: left">
        </div>
      </li> -->
      <li class="item flexrow item-settings">
        <div class="settings-list">
          <input type="checkbox" name="exclusive" data-dtype="boolean" {{checked exclusive}}>
          &nbsp;{{localize 'CYPHERSYSTEM.ExclusiveTag'}}
        </div>
      </li>
    </ol>
  </div>
  {{/if}}
  {{#if (or exclusive (eq item.type "recursion"))}}
  <div class="flexrow">
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-name">{{localize 'CYPHERSYSTEM.StatModifiers'}}</div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.MightPool'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="mightModifier" type="number" value="{{mightModifier}}" placeholder="0" />
        </div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.MightEdge'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="mightEdgeModifier" type="number" value="{{mightEdgeModifier}}" placeholder="0" />
        </div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.SpeedPool'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="speedModifier" type="number" value="{{speedModifier}}" placeholder="0" />
        </div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.SpeedEdge'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="speedEdgeModifier" type="number" value="{{speedEdgeModifier}}" placeholder="0" />
        </div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.IntellectPool'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="intellectModifier" type="number" value="{{intellectModifier}}" placeholder="0" />
        </div>
      </li>
      <li class="item flexrow item-settings">
        <div class="settings-list">
          {{localize 'CYPHERSYSTEM.IntellectEdge'}}
        </div>
        <div class="item-quantity">
          <input class="auto-margin setting-input" name="intellectEdgeModifier" type="number" value="{{intellectEdgeModifier}}" placeholder="0" />
        </div>
      </li>
    </ol>
  </div>
  {{/if}}
</div>