<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">
        {{localize 'CYPHERSYSTEM.Tags'}}
      </div>
      <div class="item-controls">
        <a class="item-control item-create {{#if ./isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="tag">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{#each actor.tags as |item id|}}
    <li class="item flexrow {{#if archived}}archived{{/if}}" data-item-id="{{item._id}}">
      <h4 class="item-name">
        <a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}">
          <i id="arrow-{{item._id}}" class="fas fa-angle-{{#if (expanded item._id)}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>
          {{~item.name}}
        </a>
      </h4>
      <div class="item-controls">
        <a class="item-control item-tag {{#if ../isObserver}}disabled{{/if}} {{#if active}}black{{else}}archived{{/if}}" title="{{#if active}}{{localize 'CYPHERSYSTEM.ArchiveItemsWithTag' tag=item.name}}{{else}}{{localize 'CYPHERSYSTEM.UnarchiveItemsWithTag' tag=item.name}}{{/if}}">
          {{#if exclusive}}<i class="fas fa-exclamation"></i>{{/if}}<i class="fas fa-hashtag"></i>
        </a>
        <a class="item-control item-edit {{#if ../isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.EditItem'}}">
          <i class="fas fa-file-alt"></i>
        </a>
        <a class="item-control item-delete {{#if ../isObserver}}disabled{{/if}}" title="{{#if archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}">
          <i class="fas fa-{{#if archived}}undo{{else}}archive{{/if}}"></i>
        </a>
      </div>
    </li>

    {{#if (expanded item._id)}}
    <li class="item-desc flexrow {{#if archived}}archived{{/if}}">
      <div class="description desc-{{item._id}}">
        <img class="description-image {{#if archived}}archived-image{{/if}}" src="{{item.img}}" width="50" height="50" />
        {{{enrichHTML description}}}
      </div>
    </li>
    {{/if}}

    {{/each}}
  </ol>
</div>