{{#each actor.data.teenAbilities as |item id|}}
<li class="item flexrow" data-item-id="{{item._id}}" style="color: {{#if data.archived}}grey{{/if}}">
  <h4 class="item-name"><a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}"><i class="fas fa-angle-{{#if data.showDescription}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>{{item.name}}{{#unless (or (eq data.costPoints "0") (eq data.costPoints 0) (eq data.costPoints ""))}} ({{data.costPoints}}{{#if (eq data.costPoints "1")}} {{#if (eq data.costPool "Might")}}{{localize 'CYPHERSYSTEM.MightPoint'}}{{else if (eq data.costPool "Speed")}}{{localize 'CYPHERSYSTEM.SpeedPoint'}}{{else if (eq data.costPool "Intellect")}}{{localize 'CYPHERSYSTEM.IntellectPoint'}}{{else}}{{localize 'CYPHERSYSTEM.AnyPoolPoint'}}{{/if}}{{else}} {{#if (eq data.costPool "Might")}}{{localize 'CYPHERSYSTEM.MightPoints'}}{{else if (eq data.costPool "Speed")}}{{localize 'CYPHERSYSTEM.SpeedPoints'}}{{else if (eq data.costPool "Intellect")}}{{localize 'CYPHERSYSTEM.IntellectPoints'}}{{else}}{{localize 'CYPHERSYSTEM.AnyPoolPoints'}}{{/if}}{{/if}}){{/unless}}</a></h4>
  <div class="item-controls">
      <a class="item-control item-edit" title="{{localize 'CYPHERSYSTEM.EditItem'}}"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="{{#if data.archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}"><i class="fas fa-{{#if data.archived}}undo{{else}}archive{{/if}}"></i></a>
  </div>
</li>
{{#if data.showDescription}}
<li class="item-desc flexrow" style="color: {{#if data.archived}}grey{{/if}}">
  <div class="description"><img class="description-image" src="{{item.img}}" style="opacity: {{#if data.archived}}50%{{/if}}"="50" height="50"/>{{{data.description}}}</div>
</li>
{{/if}}
{{/each}}
