<form class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol" style="background-image: url({{sheetSettings.backgroundImagePath}});" autocomplete="off">

  {{!-- Background Image --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}" style="opacity: {{sheetSettings.backgroundOverlayOpacity}};"></div>

  {{!-- Background Icon --}}
  {{#unless (eq sheetSettings.backgroundIcon "none")}}
    <div class="background-image-icon">
      <img class="background-image-icon {{sheetSettings.backgroundIcon}}" style="opacity: {{sheetSettings.backgroundIconOpacity}};" src="{{sheetSettings.backgroundIconPath}}">
    </div>
  {{/unless}}

  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="centered-fields">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 80px;">
              <input name="system.basic.level" type="text" value="{{item.system.basic.level}}" placeholder="{{localize 'CYPHERSYSTEM.Level'}}" title="{{localize 'CYPHERSYSTEM.Level'}}" />
            </div>
            {{#if sheetSettings.isGM}}
              {{#if sheetSettings.identified}}
                <a class="item identify-item" title="{{localize 'CYPHERSYSTEM.MarkUnidentified'}}" style="flex: 0 0 30px;"><i class="far fa-eye"></i></a>
              {{else}}
                <a class="item identify-item" title="{{localize 'CYPHERSYSTEM.MarkIdentified'}}" style="flex: 0 0 30px;"><i class="far fa-eye-slash"></i></a>
              {{/if}}
            {{/if}}
          </div>
          <div class="resources grid grid-3col">
            <div class="resource flex-center">
              <label class="resource-label-normal">
                {{localize 'CYPHERSYSTEM.Depletion'}}
              </label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="system.basic.depletion" value="{{item.system.basic.depletion}}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'CYPHERSYSTEM.Description'}}</a>
    {{#if (eq actor.system.settings.general.gameMode "Strange")}}
      <a class="item" data-tab="tags" style="flex: 0 0 45px;" title="{{localize 'CYPHERSYSTEM.Recursions'}}"><i class="fa-solid fa-at"></i></a>
    {{else if (and actor.system.settings.general.tags.active sheetSettings.isMaskForm)}}
      <a class="item" data-tab="tags" style="flex: 0 0 45px;" title="{{localize 'CYPHERSYSTEM.Tags'}}"><i class="fa-solid fa-hashtag"></i></a>
    {{/if}}
    <a class="item" data-tab="settings" style="flex: 0 0 45px;"><i class="fa-solid fa-gear"></i></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedHTML.description target="system.description" button=true engine=sheetSettings.editor owner=owner editable=true}}
    </div>

    {{!-- Tags and Recursions Tab --}}
    <div class="tab tags" data-group="primary" data-tab="tags">
      {{!-- Recursions --}}
      {{#if (eq actor.system.settings.general.gameMode "Strange")}}
        {{> systems/cyphersystem/templates/tabs/tags-tab/recursions-items.html}}
      {{/if}}

      {{!-- Tags --}}
      {{#if actor.system.settings.general.tags.active}}
        {{> systems/cyphersystem/templates/tabs/tags-tab/tags-items.html}}
      {{/if}}
    </div>

    {{!-- Settings Tab --}}
    {{> systems/cyphersystem/templates/tabs/settings-tab/settings-cyphers-and-artifacts.html}}

  </section>
</form>