<div class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol"
  style="background-image: url({{sheetSettings.backgroundImagePath}});" autocomplete="off">

  {{!-- Background Image --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}"
    style="opacity: {{sheetSettings.backgroundOverlayOpacity}};"></div>

  {{!-- Background Icon --}}
  {{#unless (eq sheetSettings.backgroundIcon "none")}}
    <div class="background-image-icon">
      <img class="background-image-icon {{sheetSettings.backgroundIcon}}"
        style="opacity: {{sheetSettings.backgroundIconOpacity}};" src="{{sheetSettings.backgroundIconPath}}">
    </div>
  {{/unless}}

  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="centered-fields">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 100px;">
              <select name="system.basic.skillRating">
                {{selectOptions skillRatingChoices selected=item.system.basic.skillRating localize=true}}
              </select>
            </div>
          </div>
          <div class="resources grid grid-3col" style="margin-bottom: 0">
            <div class="resource flex-center">
              <label class="resource-label-normal">{{localize 'CYPHERSYSTEM.Damage'}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="number" name="system.basic.damage" value="{{item.system.basic.damage}}" placeholder="0" />
              </div>
            </div>
            <div class="resource flex-center">
              <label class="resource-label-normal">{{localize 'CYPHERSYSTEM.Type'}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <select name="system.basic.type">
                  {{selectOptions attackTypeChoices selected=item.system.basic.type localize=true}}
                </select>
              </div>
            </div>
            <div class="resource flexcol flex-center">
              <label class="resource-label-normal">{{localize 'CYPHERSYSTEM.Modifier'}}</label>
              <div class="flexrow">
                <select name="system.basic.modifier" style="flex: 3">
                  {{selectOptions stepModifierChoices selected=item.system.basic.modifier localize=true}}
                </select>
                &nbsp;
                <input class="data-modifiedBy" type="number" name="system.basic.steps"
                  value="{{item.system.basic.steps}}" placeholder="0" />
              </div>
            </div>
          </div>
          <div class="flexrow flex-between">
            <input type="text" name="system.basic.range" value="{{item.system.basic.range}}"
              placeholder="{{localize 'CYPHERSYSTEM.Range'}}" />
            &nbsp;
            <input type="text" name="system.basic.notes" value="{{item.system.basic.notes}}"
              placeholder="{{localize 'CYPHERSYSTEM.Notes'}}" />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  {{> "templates/generic/tab-navigation.hbs"}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab {{tabs.description.cssClass}}" data-group="{{tabs.description.group}}"
      data-tab="{{tabs.description.id}}">
      <prose-mirror toggled name="system.description"
        value="{{enrichedHTML.description}}">{{{enrichedHTML.description}}}</prose-mirror>
    </div>

    {{!-- Tags and Recursions Tab --}}
    <div class="tab {{tabs.tags.cssClass}}" data-group="{{tabs.tags.group}}" data-tab="{{tabs.tags.id}}">
      {{!-- Recursions --}}
      {{#if (eq actor.system.settings.general.gameMode "Strange")}}
        {{> systems/cyphersystem/templates/tabs/tags-tab/recursions-items.html}}
      {{/if}}

      {{!-- Tags --}}
      {{#if actor.system.settings.general.tags.active}}
        {{> systems/cyphersystem/templates/tabs/tags-tab/tags-items.html}}
      {{/if}}
    </div>

    {{!-- Settings Tab --}}
    <div class="tab {{tabs.settings.cssClass}}" data-group="{{tabs.settings.group}}" data-tab="{{tabs.settings.id}}">
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-item.html}}
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-price.html}}
    </div>

  </section>
</div>