<div class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol" style="background-image: url({{sheetSettings.backgroundImagePath}});" autocomplete="off">

  {{!-- Background Image --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}" style="opacity: {{sheetSettings.backgroundOverlayOpacity}};"></div>

  {{!-- Background Icon --}}
  {{#unless (eq sheetSettings.backgroundIcon "none")}}
    <div class="background-image-icon">
      <img class="background-image-icon {{sheetSettings.backgroundIcon}}" style="opacity: {{sheetSettings.backgroundIconOpacity}};" src="{{sheetSettings.backgroundIconPath}}">
    </div>
  {{/unless}}

  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="centered-fields">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 80px; margin-right: 5px;">
              <input name="system.basic.level" type="text" value="{{item.system.basic.level}}" placeholder="{{localize 'CYPHERSYSTEM.Level'}}" title="{{localize 'CYPHERSYSTEM.Level'}}" />
            </div>
            {{#if sheetSettings.isGM}}
              {{#if sheetSettings.identified}}
                <a class="item identify-item {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.MarkUnidentified'}}" style="flex: 0 0 20px;" data-action="identifyItem">
                  <i class="fa-item far fa-eye"></i>
                </a>
              {{else}}
                <a class="item identify-item {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.MarkIdentified'}}" style="flex: 0 0 20px;" data-action="identifyItem">
                  <i class="fa-item far fa-eye-slash"></i>
                </a>
              {{/if}}
            {{/if}}
            <a class="item-control {{disabled sheetSettings.isObserver}}" style="flex: 0 0 20px;" data-action="toggleCypherType">
              {{{cypherType this item._id}}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  {{> "templates/generic/tab-navigation.hbs"}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab {{tabs.description.cssClass}}" data-group="{{tabs.description.group}}" data-tab="{{tabs.description.id}}">
      <prose-mirror toggled name="system.description" value="{{enrichedHTML.description}}">{{{enrichedHTML.description}}}</prose-mirror>
    </div>

    {{!-- Tags and Recursions Tab --}}
    <div class="tab {{tabs.tags.cssClass}}" data-group="{{tabs.tags.group}}" data-tab="{{tabs.tags.id}}">
      {{!-- Recursions --}}
      {{#if (eq actor.system.settings.general.gameMode "Strange")}}
        {{> systems/cyphersystem/templates/tabs/tags-tab/recursions-items.html}}
      {{/if}}

      {{!-- Tags --}}
      {{#if actor.system.settings.general.tags.active}}
        {{> systems/cyphersystem/templates/tabs/tags-tab/tags-items.html}}
      {{/if}}
    </div>

    {{!-- Settings Tab --}}
    <div class="tab {{tabs.settings.cssClass}}" data-group="{{tabs.settings.group}}" data-tab="{{tabs.settings.id}}">
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-cyphers-and-artifacts.html}}
      {{> systems/cyphersystem/templates/tabs/settings-tab/settings-price.html}}
    </div>

  </section>
</div>