<form class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol" autocomplete="off">

  {{!-- Background Icon --}}
  {{#unless (eq sheetSettings.backgroundIcon "none")}}
    <div class="background-image-icon">
      <img class="background-image-icon {{sheetSettings.backgroundIcon}}" src="{{sheetSettings.backgroundIconPath}}">
    </div>
  {{/unless}}

  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="centered-fields">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" />
          </div>
          <div class="resources grid grid-3col">
            <div class="resource flex-center">
              <label class="resource-label-normal">{{localize 'CYPHERSYSTEM.Shifts'}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input name="system.basic.shifts" type="number" value="{{item.system.basic.shifts}}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'CYPHERSYSTEM.Description'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedHTML.description target="system.description" button=true owner=owner editable=true}}
    </div>

  </section>

  {{!-- Background Image --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}"></div>

</form>