{{#unless sheetSettings.isLimited}}
  <div class="resources flexrow all-stats">
    {{!-- Might --}}
    <div class="resource flex-group-center stat-block">
      <div class="flexrow">
        <label for="actor.system.pools.might" class="resource-label {{disabled sheetSettings.isObserver}}">
          {{localize 'CYPHERSYSTEM.Might'}}
        </label>
        <div class="stat-roll-button {{{sheetSettings.showOnHover}}}">
          {{#if (gte sheetSettings.rollButtons 1)}}
            <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.MightRollButton'}}" data-action="rollPool" data-pool="Might">
              {{#if sheetSettings.useAllInOne}}
                <i class="fa-item aio-stat-roll fa-solid fa-ballot"></i>
              {{else}}
                <i class="fa-item stat-roll fa-solid fa-dice-d20"></i>
              {{/if}}
            </a>
          {{/if}}
        </div>
      </div>
      <div class="resource-content flexrow flex-center stat-pool {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
        {{#if (eq actor.system.basic.unmaskedForm "Teen")}}
          <input class="stat-input" type="number" name="system.teen.pools.might.value" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.might.value}}{{/if}}" />
          &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
          <input class="stat-input" type="number" name="system.teen.pools.might.max" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.might.max}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
        {{else}}
          <input class="stat-input" type="number" name="system.pools.might.value" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.might.value}}{{/if}}" />
          &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
          <input class="stat-input" type="number" name="system.pools.might.max" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.might.max}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
        {{/if}}
      </div>
      <hr class="hr-pool" />
      <div class="resource-content flexrow flex-center">
        <div class="stat-controls {{{sheetSettings.showOnHover}}}">
          <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.SubtractMight'}}"
            data-action="decField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.might.value' 'system.pools.might.value'}}">
            <i class="fa-item quantity fa-regular fa-minus-square stat"></i>
          </a>
          <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.AddMight'}}"
            data-action="incField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.might.value' 'system.pools.might.value'}}">
            <i class="fa-item quantity fa-regular fa-plus-square stat"></i>
          </a>
          <a class="item-control {{disabled sheetSettings.isObserver}} reset-stat" title="{{localize 'CYPHERSYSTEM.ResetMight'}}"
            data-action="resetPool" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.might' 'system.pools.might'}}">
            <i class="fa-item fas fa-sync-alt stat"></i>
          </a>
        </div>
        <div class="align-edge">
          <label class="edge-label {{disabled sheetSettings.isObserver}}" style="flex: 0 0 0" for="actor.system.pools.might.edge" class="resource-label-normal">
            {{localize 'CYPHERSYSTEM.Edge'}}
          </label>
          {{#if (eq actor.system.basic.unmaskedForm 'Teen')}}
            <input class="edge-input" type="number" name="system.teen.pools.might.edge" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.might.edge}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
          {{else}}
            <input class="edge-input {{sheetSettings.multiRollMightEdge}}" type="number" name="system.pools.might.edge" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.might.edge}}{{/if}}" title="{{#if sheetSettings.multiRollMightEdge}}{{localize 'CYPHERSYSTEM.MultiRollValueChanged'}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- Speed --}}
    <div class="resource flex-group-center stat-block">
      <div class="flexrow">
        <label for="actor.system.pools.speed" class="resource-label {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
          {{localize 'CYPHERSYSTEM.Speed'}}
        </label>
        <div class="stat-roll-button {{{sheetSettings.showOnHover}}}">
          {{#if (gte sheetSettings.rollButtons 1)}}
            <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.SpeedRollButton'}}" data-action="rollPool" data-pool="Speed">
              {{#if sheetSettings.useAllInOne}}
                <i class="fa-item aio-stat-roll fa-solid fa-ballot"></i>
              {{else}}
                <i class="fa-item stat-roll fa-solid fa-dice-d20"></i>
              {{/if}}
            </a>
          {{/if}}
        </div>
      </div>
      <div class="resource-content flexrow flex-center flex-between stat-pool {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
        {{#if (eq actor.system.basic.unmaskedForm "Teen")}}
          <input class="stat-input" type="number" name="system.teen.pools.speed.value" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.speed.value}}{{/if}}" />
          &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
          <input class="stat-input" type="number" name="system.teen.pools.speed.max" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.speed.max}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
        {{else}}
          <input class="stat-input" type="number" name="system.pools.speed.value" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.speed.value}}{{/if}}" />
          &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
          <input class="stat-input" type="number" name="system.pools.speed.max" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.speed.max}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
        {{/if}}
      </div>
      <hr class="hr-pool" />
      <div class="resource-content flexrow flex-center">
        <div class="stat-controls {{{sheetSettings.showOnHover}}}">
          <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.SubtractSpeed'}}"
            data-action="decField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.speed.value' 'system.pools.speed.value'}}">
            <i class="fa-item quantity fa-regular fa-minus-square stat"></i>
          </a>
          <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.AddSpeed'}}"
            data-action="incField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.speed.value' 'system.pools.speed.value'}}">
            <i class="fa-item quantity fa-regular fa-plus-square stat"></i>
          </a>
          <a class="item-control {{disabled sheetSettings.isObserver}} reset-stat" title="{{localize 'CYPHERSYSTEM.ResetSpeed'}}"
            data-action="resetPool" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.speed' 'system.pools.speed'}}">
            <i class="fa-item fas fa-sync-alt stat"></i>
          </a>
        </div>
        <div class="align-edge">
          <label class="edge-label {{disabled sheetSettings.isObserver}}" style="flex: 0 0 0" for="actor.system.pools.speed.edge" class="resource-label-normal">
            {{localize 'CYPHERSYSTEM.Edge'}}
          </label>
          {{#if (eq actor.system.basic.unmaskedForm 'Teen')}}
            <input class="edge-input" type="number" name="system.teen.pools.speed.edge" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.speed.edge}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
          {{else}}
            <input class="edge-input {{sheetSettings.multiRollSpeedEdge}}" type="number" name="system.pools.speed.edge" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.speed.edge}}{{/if}}" title="{{#if sheetSettings.multiRollSpeedEdge}}{{localize 'CYPHERSYSTEM.MultiRollValueChanged'}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- Intellect --}}
    <div class="resource flex-group-center stat-block">
      <div class="flexrow">
        <label for="actor.system.pools.intellect" class="resource-label {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
          {{localize 'CYPHERSYSTEM.Intellect'}}
        </label>
        <div class="stat-roll-button {{{sheetSettings.showOnHover}}}">
          {{#if (gte sheetSettings.rollButtons 1)}}
            <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.IntellectRollButton'}}" data-action="rollPool" data-pool="Intellect">
              {{#if sheetSettings.useAllInOne}}
                <i class="fa-item aio-stat-roll fa-solid fa-ballot"></i>
              {{else}}
                <i class="fa-item stat-roll fa-solid fa-dice-d20"></i>
              {{/if}}
            </a>
          {{/if}}
        </div>
      </div>
      <div class="resource-content flexrow flex-center flex-between stat-pool {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
        {{#if (eq actor.system.basic.unmaskedForm "Teen")}}
          <input class="stat-input" type="number" name="system.teen.pools.intellect.value" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.intellect.value}}{{/if}}" />
          &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
          <input class="stat-input" type="number" name="system.teen.pools.intellect.max" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.intellect.max}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
        {{else}}
          <input class="stat-input" type="number" name="system.pools.intellect.value" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.intellect.value}}{{/if}}" />
          &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
          <input class="stat-input" type="number" name="system.pools.intellect.max" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.intellect.max}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
        {{/if}}
      </div>
      <hr class="hr-pool" />
      <div class="resource-content flexrow flex-center">
        <div class="stat-controls {{{sheetSettings.showOnHover}}}">
          <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.SubtractIntellect'}}"
            data-action="decField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.intellect.value' 'system.pools.intellect.value'}}">
            <i class="fa-item quantity fa-regular fa-minus-square stat"></i>
          </a>
          <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.AddIntellect'}}"
            data-action="incField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.intellect.value' 'system.pools.intellect.value'}}">
            <i class="fa-item quantity fa-regular fa-plus-square stat"></i>
          </a>
          <a class="item-control {{disabled sheetSettings.isObserver}} reset-stat" title="{{localize 'CYPHERSYSTEM.ResetIntellect'}}"
            data-action="resetPool" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.intellect' 'system.pools.intellect'}}">
            <i class="fa-item fas fa-sync-alt stat"></i>
          </a>
        </div>
        <div class="align-edge">
          <label class="edge-label {{disabled sheetSettings.isObserver}}" style="flex: 0 0 0" for="actor.system.pools.intellect.edge" class="resource-label-normal">
            {{localize 'CYPHERSYSTEM.Edge'}}
          </label>
          {{#if (eq actor.system.basic.unmaskedForm 'Teen')}}
            <input class="edge-input" type="number" name="system.teen.pools.intellect.edge" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.intellect.edge}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
          {{else}}
            <input class="edge-input {{sheetSettings.multiRollIntellectEdge}}" type="number" name="system.pools.intellect.edge" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.intellect.edge}}{{/if}}" title="{{#if sheetSettings.multiRollIntellectEdge}}{{localize 'CYPHERSYSTEM.MultiRollValueChanged'}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- Additional Pool --}} {{#if (eq actor.system.basic.unmaskedForm "Teen")}}
      {{#if actor.system.teen.settings.general.additionalPool.active}}
        <div class="resource flex-group-center stat-block">
          <label for="actor.system.teen.settings.general.additionalPool.name" class="resource-label-additional {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
            {{#if (eq actor.system.teen.settings.general.additionalPool.name "")}}
              {{localize 'CYPHERSYSTEM.AdditionalPool'}}
            {{else}}
              {{actor.system.teen.settings.general.additionalPool.name}} {{/if}}
          </label>
          <div class="stat-roll-button {{{sheetSettings.showOnHover}}}"></div>
          <div class="resource-content flexrow flex-center flex-between stat-pool {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
            <input class="stat-input" type="number" name="system.teen.pools.additional.value" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.additional.value}}{{/if}}" />
            &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
            <input class="stat-input" type="number" name="system.teen.pools.additional.max" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.teen.pools.additional.max}}{{/if}}" {{sheetSettings.disabledStaticStats}} />;
          </div>
          <hr class="hr-pool" />
          <div class="resource-content flexrow flex-center">
            <div class="stat-controls {{{sheetSettings.showOnHover}}}">
              <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.SubtractQuantity'}}"
              data-action="decField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.additional.value' 'system.pools.additional.value'}}">
                <i class="fa-item quantity fa-regular fa-minus-square stat"></i>
              </a>
              <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.IncreaseQuantity'}}"
              data-action="incField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.additional.value' 'system.pools.additional.value'}}">
                <i class="fa-item quantity fa-regular fa-plus-square stat"></i>
              </a>
              <a class="item-control {{disabled sheetSettings.isObserver}} reset-stat" title="{{localize 'CYPHERSYSTEM.ResetAdditionalPool'}}"
              data-action="resetField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.additional' 'system.pools.additional'}}">
                <i class="fa-item fas fa-sync-alt stat"></i>
              </a>
            </div>
          </div>
        </div>
      {{else}} {{#unless (eq actor.system.teen.settings.general.logo.image "none")}}
          <div class="resource stat-block cypher-logo flex-group-center">
            <img class="cypher-logo pc-logo {{actor.system.teen.settings.general.logo.image}}" style="opacity: {{sheetSettings.logoImageOpacity}};" src="{{sheetSettings.logoPath}}" />
          </div>
        {{/unless}}
      {{/if}}
    {{else}} {{#if actor.system.settings.general.additionalPool.active}}
        <div class="resource flex-group-center stat-block">
          <label for="actor.system.settings.general.additionalPool.label" class="resource-label-additional {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
            {{#if (eq actor.system.settings.general.additionalPool.label "")}}
              {{localize 'CYPHERSYSTEM.AdditionalPool'}}
            {{else}}
              {{actor.system.settings.general.additionalPool.label}} {{/if}}
          </label>
          <div class="stat-roll-button {{{sheetSettings.showOnHover}}}"></div>
          <div class="resource-content flexrow flex-center flex-between stat-pool {{disabled (or sheetSettings.isLimited sheetSettings.isObserver)}}">
            <input class="stat-input" type="number" name="system.pools.additional.value" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.additional.value}}{{/if}}" />
            &nbsp;{{sheetSettings.slashForFractions}}&nbsp;
            <input class="stat-input" type="number" name="system.pools.additional.max" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.additional.max}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
          </div>
          <hr class="hr-pool" />
          <div class="resource-content flexrow flex-center">
            <div class="stat-controls {{{sheetSettings.showOnHover}}}">
              <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.SubtractQuantity'}}"
              data-action="decField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.additional.value' 'system.pools.additional.value'}}">
                <i class="fa-item quantity fa-regular fa-minus-square stat"></i>
              </a>
              <a class="item-control {{disabled sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.IncreaseQuantity'}}"
              data-action="incField" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.additional.value' 'system.pools.additional.value'}}">
                <i class="fa-item quantity fa-regular fa-plus-square stat"></i>
              </a>
              <a class="item-control {{disabled sheetSettings.isObserver}} reset-stat" title="{{localize 'CYPHERSYSTEM.ResetAdditionalPool'}}"
              data-action="resetPool" data-field="{{ifThen (eq actor.system.basic.unmaskedForm 'Teen') 'system.teen.pools.additional' 'system.pools.additional'}}">
                <i class="fa-item fas fa-sync-alt stat"></i>
              </a>
            </div>
            {{#if actor.system.settings.general.additionalPool.hasEdge}}
              <div class="align-edge">
                <label class="edge-label {{disabled sheetSettings.isObserver}}" style="flex: 0 0 0" for="actor.system.pools.additional.edge" class="resource-label-normal">
                  {{localize 'CYPHERSYSTEM.Edge'}}
                </label>
                <input class="edge-input" type="number" name="system.pools.additional.edge" value="{{#if sheetSettings.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{actor.system.pools.additional.edge}}{{/if}}" {{sheetSettings.disabledStaticStats}} />
              </div>
            {{/if}}
          </div>
        </div>
      {{else}} {{#unless (eq sheetSettings.logoImage "none")}}
          <div class="resource stat-block cypher-logo flex-group-center">
            <img class="cypher-logo pc-logo {{actor.system.settings.general.logo.image}}" style="opacity: {{sheetSettings.logoImageOpacity}};" src="{{sheetSettings.logoPath}}" height="75px" />
          </div>
        {{/unless}}
      {{/if}} {{/if}}
  </div>
{{/unless}}