<form class="flexcol" autocomplete="off">

  {{!-- Sheet Body --}}
  <section class="sheet-body gmi-body">
    <div>
      <ol class="items-list">
        <li class="item flexrow item-header gmi-header" data-item-id="{{actor._id}}">
          <label>
            {{#if useGlobalGMIRange}}
              {{localize "CYPHERSYSTEM.GlobalGMIRange"}}
            {{else}}
              {{localize "CYPHERSYSTEM.IndividualGMIRange"}}
            {{/if}}
          </label>&nbsp;
          <div class="item-controls">
            {{#if isGM}}
              {{#if useGlobalGMIRange}}
                <a class="toggle-global-gmi-range"><i class="fas fa-toggle-on"></i></a>
              {{else}}
                <a class="toggle-global-gmi-range"><i class="fas fa-toggle-off"></i></a>
              {{/if}}
            {{/if}}
          </div>
        </li>
        {{#unless useGlobalGMIRange}}
          {{#each actors as |actor id|}}
            <li class="item flexrow gmi-item" data-item-id="{{actor._id}}">
              <div class="gmi-img-container">
                <img class="profile-img-gmi" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
              </div>
              <div class="flexrow">
                <div class="gmi-actor-name flexcol">
                  <h4 class="gmi-h4">{{actor.name}}</h4>
                  {{#if actor.isOwner}}
                    <div class="gmi-controls">
                      <a class="item-control decrease-gmi-range" title="{{localize 'CYPHERSYSTEM.SubtractGMI'}}">
                        <i class="far fa-minus-square stat"></i>
                      </a>
                      <a class="item-control increase-gmi-range" title="{{localize 'CYPHERSYSTEM.AddGMI'}}">
                        <i class="far fa-plus-square stat"></i>
                      </a>
                      &nbsp;
                      <a class="item-control reset-gmi-range" title="{{localize 'CYPHERSYSTEM.ResetGMI'}}">
                        <i class="fas fa-sync-alt stat"></i>
                      </a>
                    </div>
                  {{/if}}
                </div>
                <div class="gmi-range-value-container">

                  <h4 class="gmi-range-value">
                    {{#if (eq actor.system.basic.gmiRange 1)}}
                      1
                    {{else}}
                      1–{{actor.system.basic.gmiRange}}
                    {{/if}}
                  </h4>
                </div>
              </div>
            </li>
          {{/each}}
          {{#if isGM}}
            <li class="item flexrow gmi-item" data-item-id="allActors">
              <div class="gmi-img-container">
                <img class="profile-img-gmi" src="systems/cyphersystem/icons/actors/group.svg" data-edit="img" title="{{localize "CYPHERSYSTEM.AllPCs"}}" />
              </div>
              <div class="flexrow">
                <div class="gmi-actor-name flexcol">
                  <h4 class="gmi-h4">{{localize "CYPHERSYSTEM.AllPCs"}}</h4>
                  <div class="gmi-controls">
                    <a class="item-control decrease-gmi-range" title="{{localize 'CYPHERSYSTEM.SubtractGMI'}}">
                      <i class="far fa-minus-square stat"></i>
                    </a>
                    <a class="item-control increase-gmi-range" title="{{localize 'CYPHERSYSTEM.AddGMI'}}">
                      <i class="far fa-plus-square stat"></i>
                    </a>
                    &nbsp;
                    <a class="item-control reset-gmi-range" title="{{localize 'CYPHERSYSTEM.ResetGMI'}}">
                      <i class="fas fa-sync-alt stat"></i>
                    </a>
                  </div>
                </div>
                <div class="gmi-range-value-container">
                </div>
              </div>
            </li>
          {{/if}}
        {{/unless}}
        {{#if useGlobalGMIRange}}
          <li class="item flexrow gmi-item" data-item-id="global">
            <div class="gmi-img-container">
              <img class="profile-img-gmi" src="systems/cyphersystem/icons/actors/group.svg" data-edit="img" title="{{localize "CYPHERSYSTEM.AllPCs"}}" />
            </div>
            <div class="flexrow">
              <div class="gmi-actor-name flexcol">
                <h4 class="gmi-h4">{{localize "CYPHERSYSTEM.AllPCs"}}</h4>
                {{#if isGM}}
                  <div class="gmi-controls">
                    <a class="item-control decrease-gmi-range" title="{{localize 'CYPHERSYSTEM.SubtractGMI'}}">
                      <i class="far fa-minus-square stat"></i>
                    </a>
                    <a class="item-control increase-gmi-range" title="{{localize 'CYPHERSYSTEM.AddGMI'}}">
                      <i class="far fa-plus-square stat"></i>
                    </a>
                    &nbsp;
                    <a class="item-control reset-gmi-range" title="{{localize 'CYPHERSYSTEM.ResetGMI'}}">
                      <i class="fas fa-sync-alt stat"></i>
                    </a>
                  </div>
                {{/if}}
              </div>
              <div class="gmi-range-value-container">
                <h4 class="gmi-range-value">
                  {{#if (eq globalGMIRange 1)}}
                    1
                  {{else}}
                    1–{{globalGMIRange}}
                  {{/if}}
                </h4>
              </div>
            </div>
          </li>
        {{/if}}
      </ol>
    </div>
  </section>
</form>