<form class="{{sheetSettings.backgroundImageBaseSetting}} {{sheetSettings.backgroundImage}} flexcol" style="background-image: url({{sheetSettings.backgroundImagePath}}" autocomplete="off">

  {{!-- Transparent Overlay --}}
  <div class="background-image-rectangle {{sheetSettings.backgroundImage}}" style="opacity: {{sheetSettings.backgroundOverlayOpacity}};"></div>

  <div class="background-image-icon-roll-form">
    <img class="background-image-icon-roll-form" src="systems/cyphersystem/icons/macros/d20.svg" width="192" height="192">
  </div>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="grid grid-2col">
      <div class="roll-engine-left-column" align="center">
        <label class="roll-engine-heading"><b>{{localize "CYPHERSYSTEM.BasicModifiers"}}</b></label><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.BaseDifficulty"}}:</label>
        {{#if (eq this.useGlobalDifficulty -1)}}
          <select name="baseDifficulty" id="baseDifficulty" class="dialog-select roll-engine-select">
            {{#select this.baseDifficulty}}
              <option value="-1">{{localize "CYPHERSYSTEM.None"}}</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
            {{/select}}
          </select><br>
        {{else}}
          <input name="baseDifficulty" id="baseDifficulty" type="number" value="{{this.baseDifficulty}}" class="roll-engine-input disabled" /><br>
        {{/if}}
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.Pool"}}:</label>
        <select name="pool" id="pool" class="dialog-select roll-engine-select">
          {{#select this.pool}}
            <option value="Might">{{localize "CYPHERSYSTEM.Might"}}</option>
            <option value="Speed">{{localize "CYPHERSYSTEM.Speed"}}</option>
            <option value="Intellect">{{localize "CYPHERSYSTEM.Intellect"}}</option>
            <option value="Pool">{{localize "CYPHERSYSTEM.AnyPool"}}</option>
          {{/select}}
        </select><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.SkillLevel"}}:</label>
        <select name="skillLevel" id="skillLevel" class="dialog-select roll-engine-select">
          {{#select this.skillLevel}}
            <option value="-1">{{localize "CYPHERSYSTEM.Inability"}}</option>
            <option value="0">{{localize "CYPHERSYSTEM.Practiced"}}</option>
            <option value="1">{{localize "CYPHERSYSTEM.Trained"}}</option>
            <option value="2"> {{localize "CYPHERSYSTEM.Specialized"}}</option>
          {{/select}}
        </select><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.Assets"}}:</label>
        <select name="assets" id="assets" class="dialog-select roll-engine-select">
          {{#select this.assets}}
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          {{/select}}
        </select><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.EffortForTask"}}:</label>
        <select name="effortToEase" id="effortToEase" class="dialog-select roll-engine-select">
          {{#select this.effortToEase}}
            <option value="0">{{localize "CYPHERSYSTEM.None"}}</option>
            <option value="1">1 {{localize "CYPHERSYSTEM.level"}}</option>
            <option value="2">2 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="3">3 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="4">4 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="5">5 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="6">6 {{localize "CYPHERSYSTEM.levels"}}</option>
          {{/select}}
        </select><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.EffortForOther"}}:</label>
        <select name="effortOtherUses" id="effortOtherUses" class="dialog-select roll-engine-select">
          {{#select this.effortOtherUses}}
            <option value="0">{{localize "CYPHERSYSTEM.None"}}</option>
            <option value="1">1 {{localize "CYPHERSYSTEM.level"}}</option>
            <option value="2">2 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="3">3 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="4">4 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="5">5 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="6">6 {{localize "CYPHERSYSTEM.levels"}}</option>
          {{/select}}
        </select><br>
        <hr class="hr-roll-engine">

        <label class="roll-engine-heading"><b>{{localize "CYPHERSYSTEM.AttackModifiers"}}</b></label><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.Damage"}}:</label>
        <input name="damage" id="damage" type="number" value="{{this.damage}}" class="roll-engine-input" /><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.EffortForDamage"}}:</label>
        <select name="effortDamage" id="effortDamage" class="dialog-select roll-engine-select">
          {{#select this.effortDamage}}
            <option value="0">{{localize "CYPHERSYSTEM.None"}}</option>
            <option value="1">1 {{localize "CYPHERSYSTEM.level"}}</option>
            <option value="2">2 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="3">3 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="4">4 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="5">5 {{localize "CYPHERSYSTEM.levels"}}</option>
            <option value="6">6 {{localize "CYPHERSYSTEM.levels"}}</option>
          {{/select}}
        </select> <br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.DamageLevelEffort"}}:</label>
        <input name="damagePerLOE" id="damagePerLOE" type="number" value="{{this.damagePerLOE}}" class="roll-engine-input" /><br>
        <hr class="hr-roll-engine">

        <label class="roll-engine-heading"><b>{{localize "CYPHERSYSTEM.AdditionalModifiers"}}</b></label><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.DifficultyModifier"}}:</label>
        <select class="roll-engine-select-eased-hindered" name="easedOrHindered" id="easedOrHindered" class="dialog-select">
          {{#select this.easedOrHindered}}
            <option value="eased">{{localize "CYPHERSYSTEM.easedBy"}}</option>
            <option value="hindered">{{localize "CYPHERSYSTEM.hinderedBy"}}</option>
          {{/select}}
        </select>
        <input class="roll-engine-input-eased-hindered" name="difficultyModifier" id="difficultyModifier" type="number" value="{{this.difficultyModifier}}" /><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.Bonus"}}:</label>
        <input name="bonus" id="bonus" type="number" value="{{this.bonus}}" class="roll-engine-input" /><br>
        <label class="roll-engine-label">{{localize "CYPHERSYSTEM.PoolCost"}}:</label>
        <input name="poolPointCost" id="poolPointCost" type="number" value="{{this.poolPointCost}}" class="roll-engine-input" /><br>
      </div>

      <div align="center">
        <label class="roll-engine-heading"><b>{{localize "CYPHERSYSTEM.Summary"}}</b></label><br>
        <label class="roll-engine-label-summary">{{this.summaryTitle}}</label>
        <label class="roll-engine-label-summary">{{this.summaryTaskModified}}</label>
        {{#if this.summaryFinalDifficulty}}
          <label class="roll-engine-label-summary">{{this.summaryFinalDifficulty}}</label>
        {{/if}}
        {{#if this.summaryTotalDamage}}
          <label class="roll-engine-label-summary">{{this.summaryTotalDamage}}</label>
        {{/if}}
        <label class="roll-engine-label-summary">{{this.summaryTotalCostString}}</label>

        <div class="roll-engine-summary-bottom">
          {{#if (gt this.gmiRange 1)}}
            <label class="roll-engine-label-summary">{{this.summaryGMIRange}}</label>
          {{/if}}
          {{#if this.speedCostArmor}}
            <label class="roll-engine-label-summary">{{this.speedCostArmor}}</label>
          {{/if}}
          {{#if this.impairedString}}
            <label class="roll-engine-label-summary">{{this.impairedString}}</label>
          {{/if}}
          {{#if this.summaryAllocatePoints}}
            <label class="roll-engine-label-summary">{{this.summaryAllocatePoints}}</label>
          {{/if}}
          {{#if this.multiRollActive}}
            <label class="roll-engine-label-summary blue">{{localize "CYPHERSYSTEM.MultiRoll"}}.</label>
          {{/if}}
          {{#if this.summaryTooMuchEffort}}
            <label class="roll-engine-label-summary red">{{this.summaryTooMuchEffort}}</label>
          {{/if}}
          {{#if this.summaryNotEnoughPointsString}}
            <label class="roll-engine-label-summary red">{{this.summaryNotEnoughPointsString}}</label>
          {{/if}}

          <hr class="hr-roll-engine">
          <label class="roll-engine-heading"><b>{{localize "CYPHERSYSTEM.CharacterPreview"}}</b></label><br>
          <label class="roll-engine-label">{{localize "CYPHERSYSTEM.EffortAvailable"}}:</label>
          <input class="roll-engine-input {{this.multiRollEffort}} {{this.exceedEffort}}" name="effort" id="effort" type="text" value="{{this.totalEffort}}/{{this.effortValue}}" disabled /><br>
          <label class="roll-engine-label">{{localize "CYPHERSYSTEM.MightPoolEdge"}}:</label>
          <input class="roll-engine-input {{this.multiRollMightEdge}} {{this.exceedMight}}" name="might" id="might" type="text" value="{{this.mightValue}}/{{this.mightMax}} ({{this.mightEdge}})" disabled /><br>
          <label class="roll-engine-label">{{localize "CYPHERSYSTEM.SpeedPoolEdge"}}:</label>
          <input class="roll-engine-input {{this.multiRollSpeedEdge}} {{this.exceedSpeed}}" name="speed" id="speed" type="text" value="{{this.speedValue}}/{{this.speedMax}} ({{this.speedEdge}})" disabled /><br>
          <label class="roll-engine-label">{{localize "CYPHERSYSTEM.IntellectPoolEdge"}}:</label>
          <input class="roll-engine-input {{this.multiRollIntellectEdge}} {{this.exceedIntellect}}" name="intellect" id="intellect" type="text" value="{{this.intellectValue}}/{{this.intellectMax}} ({{this.intellectEdge}})" disabled /><br>
          <hr class="hr-roll-engine">

          <button type="button" class="dialog-button roll-engine-roll roll-engine-button {{this.disabledButton}}" title="{{localize 'CYPHERSYSTEM.RollButtonTooltip'}}" data-button="roll">
            <i class="fas fa-dice-d20"></i> {{localize "CYPHERSYSTEM.Roll"}}
          </button>
          <button type="button" class="dialog-button roll-engine-pay roll-engine-button {{this.disabledButton}}" title="{{localize 'CYPHERSYSTEM.PayButtonTooltip'}}" data-button="pay">
            <i class="fas fa-coins"></i> {{localize "CYPHERSYSTEM.Pay"}}
          </button>
          <button type="button" class="dialog-button roll-engine-cancel roll-engine-button" title="{{localize 'CYPHERSYSTEM.CancelButtonTooltip'}}" data-button="cancel">
            <i class="fas fa-times"></i> {{localize "CYPHERSYSTEM.Cancel"}}
          </button>

        </div>
      </div>

    </div>
  </section>
</form>