<form class="flexcol" autocomplete="off">

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div>
      <ol class="items-list">
        <li class="item flexrow item-settings">
          <div class="settings-list">
            {{localize 'CYPHERSYSTEM.BackgroundImage'}}
          </div>
          <div class="item-quantity">
            <select class="auto-margin settings-input" name="backgroundImage">
              {{selectOptions sheetCustomizationChoices.backgroundImage selected=backgroundImage localize=true}}
            </select>
          </div>
        </li>
        {{#if (eq backgroundImage "custom")}}
          <li class="item flexrow item-settings" style="border-top-style: dashed">
            <div class="settings-list">
              <input type="text" class="auto-margin" name="backgroundImagePath" value="{{backgroundImagePath}}" placeholder="{{localize 'CYPHERSYSTEM.PathToImageFileBackground'}}" style="text-align: left">
            </div>
            <div class="item-quantity">
              {{filePicker type="image" target="backgroundImagePath"}}
            </div>
          </li>
          <li class="item flexrow item-settings" style="border-top-style: dashed">
            <div class="settings-list">
              {{localize 'CYPHERSYSTEM.BGImageOverlayOpacity'}}
            </div>
            {{rangePicker name="backgroundImageOverlayOpacity" value=backgroundImageOverlayOpacity min=0 max=1 step=0.05}}
          </li>
        {{/if}}
        <li class="item flexrow item-settings">
          <div class="settings-list">
            {{localize 'CYPHERSYSTEM.BackgroundIcon'}}
          </div>
          <div class="item-quantity">
            <select class="auto-margin settings-input" name="backgroundIcon">
              {{selectOptions sheetCustomizationChoices.backgroundIcon selected=backgroundIcon localize=true}}
            </select>
          </div>
        </li>
        {{#if (eq backgroundIcon "custom")}}
          <li class="item flexrow item-settings" style="border-top-style: dashed">
            <div class="settings-list">
              <input type="text" class="auto-margin" name="backgroundIconPath" value="{{backgroundIconPath}}" placeholder="{{localize 'CYPHERSYSTEM.PathToImageFileIcon'}}" style="text-align: left">
            </div>
            <div class="item-quantity">
              {{filePicker type="image" target="backgroundIconPath"}}
            </div>
          </li>
          <li class="item flexrow item-settings" style="border-top-style: dashed">
            <div class="settings-list">
              {{localize 'CYPHERSYSTEM.BGIconOpacity'}}
            </div>
            {{rangePicker name="backgroundIconOpacity" value=backgroundIconOpacity min=0 max=1 step=0.05}}
          </li>
        {{/if}}
        <li class="item flexrow item-settings">
          <div class="settings-list">
            {{localize 'CYPHERSYSTEM.CypherLogo'}}
          </div>
          <div class="item-quantity">
            <select class="auto-margin settings-input" name="logoImage">
              {{selectOptions sheetCustomizationChoices.logoImage selected=logoImage localize=true}}
            </select>
          </div>
        </li>
        {{#if (eq logoImage "custom")}}
          <li class="item flexrow item-settings" style="border-top-style: dashed">
            <div class="settings-list">
              <input type="text" class="auto-margin" name="logoImagePath" value="{{logoImagePath}}" placeholder="{{localize 'CYPHERSYSTEM.PathToImageFileLogo'}}" style="text-align: left">
            </div>
            <div class="item-quantity">
              {{filePicker type="image" target="logoImagePath"}}
            </div>
          </li>
          <li class="item flexrow item-settings" style="border-top-style: dashed">
            <div class="settings-list">
              {{localize 'CYPHERSYSTEM.CSLogoOpacity'}}
            </div>
            {{rangePicker name="logoImageOpacity" value=logoImageOpacity min=0 max=1 step=0.05}}
          </li>
        {{/if}}
      </ol>
    </div>
  </section>
</form>