<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div style="margin-top: auto; margin-bottom: auto;">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}" style="font-weight:bold"/>
          </div>
          <div class="resource-content flexrow flex-center">
            <label style="flex: 0 0 65px;">{{localize 'CYPHERSYSTEM.IsA'}}</label>
            <input name="data.disposition" type="text" value="{{data.disposition}}" data-dtype="String" placeholder="{{localize 'CYPHERSYSTEM.Disposition'}}"/>
            &nbsp;<input name="data.category" type="text" value="{{data.category}}" data-dtype="String" placeholder="{{localize 'CYPHERSYSTEM.Category'}}"/>
          </div>
          <div class="resource-content flexrow flex-center">
            <label style="flex: 0 0 65px;">{{localize 'CYPHERSYSTEM.OwnedBy'}}</label>
            <input name="data.ownedBy" type="text" value="{{data.ownedBy}}" data-dtype="String" placeholder="{{localize 'CYPHERSYSTEM.Owner'}}"/>
          </div>
        </div>
      </div>

      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label class="resource-label">{{localize 'CYPHERSYSTEM.InteractionLevel'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="data.level" type="text" value="{{#if data.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{data.level}}{{/if}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <a class="item-control decrease-health" title="{{localize 'CYPHERSYSTEM.SubtractHealth'}}"><i class="fas fa-angle-down"></i></a>&nbsp;
          <a class="item-control reset-health" title="{{localize 'CYPHERSYSTEM.ResetHealth'}}"><label for="data.health.value" class="resource-label">{{localize 'CYPHERSYSTEM.Health'}}</label></a>&nbsp;
          <a class="item-control increase-health" title="{{localize 'CYPHERSYSTEM.AddHealth'}}"><i class="fas fa-angle-up"></i></a>
          <div class="resource-content flexrow flex-center stat-pool">
            <input class="stat-input" name="data.health.value" type="text" value="{{#if data.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{data.health.value}}{{/if}}" data-dtype="Number"/>
            &nbsp;{{data.slashForFractions}}&nbsp;
            <input class="stat-input" name="data.health.max" type="text" value="{{#if data.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{data.health.max}}{{/if}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label class="resource-label">{{localize 'CYPHERSYSTEM.Damage'}}</label>
            <label class="resource-label">{{localize 'CYPHERSYSTEM.Armor'}}</label>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="data.damage" type="text" value="{{#if data.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{data.damage}}{{/if}}" data-dtype="Number"/>&nbsp;
            <input name="data.armor" type="text" value="{{#if data.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{data.armor}}{{/if}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{#unless data.isLimited}}
    <a class="item" data-tab="skills">{{localize 'CYPHERSYSTEM.SkillsAndAbilities'}}</a>
    <a class="item" data-tab="items" style="border-top: none; border-bottom: none;">{{localize 'CYPHERSYSTEM.Inventory'}}</a>
    <a class="item" data-tab="notes" style="border-top: none; border-bottom: none;">{{localize 'CYPHERSYSTEM.Notes'}}</a>
    {{/unless}}
    <a class="item" data-tab="description" style="border-top: none; border-bottom: none;">{{localize 'CYPHERSYSTEM.Description'}}</a>
    {{#unless data.isLimited}}
    <a class="item" data-tab="settings" style="flex: 0 0 25px; text-align: right; border-top: none; border-bottom: none;"><i class="fas fa-cog"></i></a>
    {{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills & Abilities Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.Skills'}}</div>
            <div class="item-quantity">{{localize 'CYPHERSYSTEM.Rating'}}</div>
            <div class="item-controls">
              <a class="item-control item-create" title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="skill"><i class="fas fa-plus"></i></a>
            </div>
          </li>
          {{#if data.settings.skills.sortByRating}}
          {{> systems/cyphersystem/templates/tabs/skillsSortedByRating.html}}
          {{else}}
          {{> systems/cyphersystem/templates/tabs/skills.html}}
          {{/if}}
        </ol>
      </div>

      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.Abilities'}}</div>
            <div class="item-controls">
              <a class="item-control item-create" title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="ability"><i class="fas fa-plus"></i></a>
            </div>
          </li>
          {{> systems/cyphersystem/templates/tabs/abilities.html}}
        </ol>
      </div>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{> systems/cyphersystem/templates/tabs/equipment.html}}

      {{#if data.settings.equipment.attacks}}
      {{> systems/cyphersystem/templates/tabs/attacks.html}}
      {{/if}}

      {{#if data.settings.equipment.ammo}}
      {{> systems/cyphersystem/templates/tabs/ammo.html}}
      {{/if}}

      {{#if data.settings.equipment.armor}}
      {{> systems/cyphersystem/templates/tabs/armorWithoutTotal.html}}
      {{/if}}

      {{#if data.settings.equipment.cyphers}}
      {{> systems/cyphersystem/templates/tabs/cyphers.html}}
      {{/if}}

      {{#if data.settings.equipment.artifacts}}
      {{> systems/cyphersystem/templates/tabs/artifacts.html}}
      {{/if}}

      {{#if data.settings.equipment.oddities}}
      {{> systems/cyphersystem/templates/tabs/oddities.html}}
      {{/if}}

      {{#if data.settings.equipment.materials}}
      {{> systems/cyphersystem/templates/tabs/materials.html}}
      {{/if}}

    </div>

    {{!-- Notes Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=true}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.GeneralSettings'}}</div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.initiative.active" data-dtype="boolean" checked disabled>&nbsp;{{localize 'CYPHERSYSTEM.InitiativeBonus'}}</div>
            <div class="item-quantity"><input class="auto-margin" name="data.settings.initiative.initiativeBonus" type="text" value="{{data.settings.initiative.initiativeBonus}}" data-dtype="Number" placeholder="0" style="width: auto;"/></div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.hideArchived" data-dtype="boolean" {{checked data.settings.hideArchived}}>&nbsp;{{localize 'CYPHERSYSTEM.HideArchive'}}</div>
          </li>
        </ol>
      </div>
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.SkillsAndAbilitiesTab'}}</div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.skills.sortByRating" data-dtype="boolean" {{checked data.settings.skills.sortByRating}}>&nbsp;{{localize 'CYPHERSYSTEM.SortSkillsByRating'}}</div>
          </li>
        </ol>
      </div>
      {{> systems/cyphersystem/templates/tabs/equipment-settings.html}}
    </div>

  </section>
</form>
