<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div style="margin-top: auto; margin-bottom: auto;">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}"
              style="font-weight:bold" />
            &nbsp;
            <div class="item-quantity" style="flex: 0 0 80px;">
              <input name="data.level" type="text"
                value="{{#if data.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{data.level}}{{/if}}"
                data-dtype="Number" placeholder="{{localize 'CYPHERSYSTEM.Level'}}"
                title="{{localize 'CYPHERSYSTEM.Level'}}" />
            </div>
          </div>
          <div class="resource-content flexrow flex-center">
            <div class="resources grid grid-3col">
              <div class="resource">
              </div>
              <div class="resource flex-group-center">
                <label class="resource-label-additional {{#if (or data.isLimited data.isObserver)}}disabled{{/if}}">
                  {{localize 'CYPHERSYSTEM.Crew'}}
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="data.crew" type="text"
                    value="{{#if data.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{data.crew}}{{/if}}"
                    data-dtype="Number" />
                </div>
              </div>
              <div class="resource flex-group-center">
                <label class="resource-label-additional {{#if (or data.isLimited data.isObserver)}}disabled{{/if}}">
                  {{localize 'CYPHERSYSTEM.WeaponSystems'}}
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="data.weaponSystems" type="text"
                    value="{{#if data.isLimited}}{{localize 'CYPHERSYSTEM.?'}}{{else}}{{data.weaponSystems}}{{/if}}"
                    data-dtype="Number" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{#unless data.isLimited}}
    <a class="item" data-tab="notes">{{localize 'CYPHERSYSTEM.Notes'}}</a>
    {{/unless}}
    <a class="item" data-tab="description">{{localize 'CYPHERSYSTEM.Description'}}</a>
    {{#unless data.isLimited}}
    <a class="item" data-tab="items">{{localize 'CYPHERSYSTEM.Storage'}}</a>
    <a class="item" data-tab="settings" style="flex: 0 0 45px;">
      <i class="fas fa-cog"></i>
    </a>
    {{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Notes Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=true}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{> systems/cyphersystem/templates/tabs/equipment.html}}

      {{#if data.settings.equipment.attacks}}
      {{> systems/cyphersystem/templates/tabs/attacks.html}}
      {{/if}}

      {{#if data.settings.equipment.ammo}}
      {{> systems/cyphersystem/templates/tabs/ammo.html}}
      {{/if}}

      {{#if data.settings.equipment.armor}}
      {{> systems/cyphersystem/templates/tabs/armorWithoutTotal.html}}
      {{/if}}

      {{#if data.settings.equipment.cyphers}}
      {{> systems/cyphersystem/templates/tabs/cyphers.html}}
      {{/if}}

      {{#if data.settings.equipment.artifacts}}
      {{> systems/cyphersystem/templates/tabs/artifacts.html}}
      {{/if}}

      {{#if data.settings.equipment.oddities}}
      {{> systems/cyphersystem/templates/tabs/oddities.html}}
      {{/if}}

      {{#if data.settings.equipment.materials}}
      {{> systems/cyphersystem/templates/tabs/materials.html}}
      {{/if}}

    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">{{localize 'CYPHERSYSTEM.GeneralSettings'}}</div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="data.settings.initiative.active" data-dtype="boolean" checked disabled>
              &nbsp;{{localize 'CYPHERSYSTEM.InitiativeBonus'}}
            </div>
            <div class="item-quantity">
              <input class="auto-margin" name="data.settings.initiative.initiativeBonus" type="text"
                value="{{data.settings.initiative.initiativeBonus}}" data-dtype="Number" placeholder="0"
                style="width: auto;" />
            </div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list">
              <input type="checkbox" name="data.settings.hideArchived" data-dtype="boolean" {{checked
                data.settings.hideArchived}}>
              &nbsp;{{localize 'CYPHERSYSTEM.HideArchive'}}
            </div>
          </li>
        </ol>
      </div>
      {{> systems/cyphersystem/templates/tabs/equipment-settings.html}}
    </div>

  </section>
</form>