<div class="flexrow">&nbsp;
  <div class="resources grid grid-6col" style="margin-bottom: 0px">

    {{#if (gte actor.system.settings.equipment.currency.numberCategories 6)}}
      <div class="resource flex-center">
        {{#unless actor.system.settings.equipment.currency.hideLabels}}
          <label class="resource-label-normal">
            <b>
              {{#if (eq actor.system.settings.equipment.currency.labelCategory6 "")}}
                {{localize 'CYPHERSYSTEM.Adamantine'}}
              {{else}}
                {{actor.system.settings.equipment.currency.labelCategory6}}
              {{/if}}
            </b>
          </label>
        {{/unless}}
        <div class="resource-content flexrow flex-center flex-between">
          <input title="{{#if (eq actor.system.settings.equipment.currency.labelCategory6 '')}}{{localize 'CYPHERSYSTEM.Adamantine'}}{{else}}{{actor.system.settings.equipment.currency.labelCategory6}}{{/if}}" type="number" name="system.settings.equipment.currency.quantity6" value="{{actor.system.settings.equipment.currency.quantity6}}" />
        </div>
      </div>
    {{else}}
      <div></div>
    {{/if}}

    {{#if (gte actor.system.settings.equipment.currency.numberCategories 5)}}
      <div class="resource flex-center">
        {{#unless actor.system.settings.equipment.currency.hideLabels}}
          <label class="resource-label-normal">
            {{#if (eq actor.system.settings.equipment.currency.labelCategory5 "")}}
              {{localize 'CYPHERSYSTEM.Mithral'}}
            {{else}}
              {{actor.system.settings.equipment.currency.labelCategory5}}
            {{/if}}
          </label>
        {{/unless}}
        <div class="resource-content flexrow flex-center flex-between">
          <input title="{{#if (eq actor.system.settings.equipment.currency.labelCategory5 '')}}{{localize 'CYPHERSYSTEM.Mithral'}}{{else}}{{actor.system.settings.equipment.currency.labelCategory5}}{{/if}}" type="number" name="system.settings.equipment.currency.quantity5" value="{{actor.system.settings.equipment.currency.quantity5}}" />
        </div>
      </div>
    {{else}}
      <div></div>
    {{/if}}

    {{#if (gte actor.system.settings.equipment.currency.numberCategories 4)}}
      <div class="resource flex-center">
        {{#unless actor.system.settings.equipment.currency.hideLabels}}
          <label class="resource-label-normal">
            {{#if (eq actor.system.settings.equipment.currency.labelCategory4 "")}}
              {{localize 'CYPHERSYSTEM.Platinum'}}
            {{else}}
              {{actor.system.settings.equipment.currency.labelCategory4}}
            {{/if}}
          </label>
        {{/unless}}
        <div class="resource-content flexrow flex-center flex-between">
          <input title="{{#if (eq actor.system.settings.equipment.currency.labelCategory4 '')}}{{localize 'CYPHERSYSTEM.Platinum'}}{{else}}{{actor.system.settings.equipment.currency.labelCategory4}}{{/if}}" type="number" name="system.settings.equipment.currency.quantity4" value="{{actor.system.settings.equipment.currency.quantity4}}" />
        </div>
      </div>
    {{else}}
      <div></div>
    {{/if}}

    {{#if (gte actor.system.settings.equipment.currency.numberCategories 3)}}
      <div class="resource flex-center">
        {{#unless actor.system.settings.equipment.currency.hideLabels}}
          <label class="resource-label-normal">
            {{#if (eq actor.system.settings.equipment.currency.labelCategory3 "")}}
              {{localize 'CYPHERSYSTEM.Gold'}}
            {{else}}
              {{actor.system.settings.equipment.currency.labelCategory3}}
            {{/if}}
          </label>
        {{/unless}}
        <div class="resource-content flexrow flex-center flex-between">
          <input title="{{#if (eq actor.system.settings.equipment.currency.labelCategory3 '')}}{{localize 'CYPHERSYSTEM.Gold'}}{{else}}{{actor.system.settings.equipment.currency.labelCategory3}}{{/if}}" type="number" name="system.settings.equipment.currency.quantity3" value="{{actor.system.settings.equipment.currency.quantity3}}" />
        </div>
      </div>
    {{else}}
      <div></div>
    {{/if}}

    {{#if (gte actor.system.settings.equipment.currency.numberCategories 2)}}
      <div class="resource flex-center">
        {{#unless actor.system.settings.equipment.currency.hideLabels}}
          <label class="resource-label-normal">
            {{#if (eq actor.system.settings.equipment.currency.labelCategory2 "")}}
              {{localize 'CYPHERSYSTEM.Silver'}}
            {{else}}
              {{actor.system.settings.equipment.currency.labelCategory2}}
            {{/if}}
          </label>
        {{/unless}}
        <div class="resource-content flexrow flex-center flex-between">
          <input title="{{#if (eq actor.system.settings.equipment.currency.labelCategory2 '')}}{{localize 'CYPHERSYSTEM.Silver'}}{{else}}{{actor.system.settings.equipment.currency.labelCategory2}}{{/if}}" type="number" name="system.settings.equipment.currency.quantity2" value="{{actor.system.settings.equipment.currency.quantity2}}" />
        </div>
      </div>
    {{else}}
      <div></div>
    {{/if}}

    <div class="resource flex-center">
      {{#unless actor.system.settings.equipment.currency.hideLabels}}
        <label class="resource-label-normal">
          {{#if (eq actor.system.settings.equipment.currency.labelCategory1 "")}}
            {{#if (eq actor.system.settings.equipment.currency.numberCategories "1")}}
              {{localize 'CYPHERSYSTEM.Shins'}}
            {{/if}}
            {{#if (gte actor.system.settings.equipment.currency.numberCategories 2)}}
              {{localize 'CYPHERSYSTEM.Copper'}}
            {{/if}}
          {{else}}
            {{actor.system.settings.equipment.currency.labelCategory1}}
          {{/if}}
        </label>
      {{/unless}}
      <div class="resource-content flexrow flex-center flex-between">
        <input title="{{#if (eq actor.system.settings.equipment.currency.labelCategory1 '')}}{{#if (eq actor.system.settings.equipment.currency.numberCategories '1')}}{{localize 'CYPHERSYSTEM.Shins'}}{{/if}}{{#if (gte actor.system.settings.equipment.currency.numberCategories 2)}}{{localize 'CYPHERSYSTEM.Copper'}}{{/if}}{{else}}{{actor.system.settings.equipment.currency.labelCategory1}}{{/if}}" type="number" name="system.settings.equipment.currency.quantity1" value="{{actor.system.settings.equipment.currency.quantity1}}" />
      </div>
    </div>

  </div>
  &nbsp;
</div>