<div class="flexrow">
  <ol class="items-list" id="Skill">
    <li class="item flexrow item-header">
      <div class="item-name">
        {{#if (eq actor.system.settings.skills.labelCategory1 "")}}
          {{localize 'CYPHERSYSTEM.Skills'}}
        {{else}}
          {{actor.system.settings.skills.labelCategory1}}
        {{/if}}
      </div>
      <div class="item-quantity">{{localize 'CYPHERSYSTEM.Level'}}</div>
      <div class="item-controls">
        <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="skill">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{#if (eq actor.system.basic.unmaskedForm "Teen")}}
      {{> systems/cyphersystem/templates/item-lists/skills-list-teen.html}}
    {{else}}
      {{> systems/cyphersystem/templates/item-lists/skills-list-01.html}}
    {{/if}}
  </ol>
</div>

{{#if (eq actor.system.basic.unmaskedForm "Mask")}}
  {{#if sheetSettings.showSkillsTwo}}
    <div class="flexrow">
      <ol class="items-list" id="SkillTwo">
        <li class="item flexrow item-header">
          <div class="item-name">
            {{#if (eq actor.system.settings.skills.labelCategory2 "")}}
              {{localize 'CYPHERSYSTEM.SkillCategoryTwo'}}
            {{else}}
              {{actor.system.settings.skills.labelCategory2}}
            {{/if}}
          </div>
          <div class="item-quantity">{{localize 'CYPHERSYSTEM.Level'}}</div>
          <div class="item-controls">
          </div>
        </li>
        {{> systems/cyphersystem/templates/item-lists/skills-list-02.html}}
      </ol>
    </div>
  {{/if}}

  {{#if sheetSettings.showSkillsThree}}
    <div class="flexrow">
      <ol class="items-list" id="SkillThree">
        <li class="item flexrow item-header">
          <div class="item-name">
            {{#if (eq actor.system.settings.skills.labelCategory3 "")}}
              {{localize 'CYPHERSYSTEM.SkillCategoryThree'}}
            {{else}}
              {{actor.system.settings.skills.labelCategory3}}
            {{/if}}
          </div>
          <div class="item-quantity">{{localize 'CYPHERSYSTEM.Level'}}</div>
          <div class="item-controls">
          </div>
        </li>
        {{> systems/cyphersystem/templates/item-lists/skills-list-03.html}}
      </ol>
    </div>
  {{/if}}

  {{#if sheetSettings.showSkillsFour}}
    <div class="flexrow">
      <ol class="items-list" id="SkillFour">
        <li class="item flexrow item-header">
          <div class="item-name">
            {{#if (eq actor.system.settings.skills.labelCategory4 "")}}
              {{localize 'CYPHERSYSTEM.SkillCategoryFour'}}
            {{else}}
              {{actor.system.settings.skills.labelCategory4}}
            {{/if}}
          </div>
          <div class="item-quantity">{{localize 'CYPHERSYSTEM.Level'}}</div>
          <div class="item-controls">
          </div>
        </li>
        {{> systems/cyphersystem/templates/item-lists/skills-list-04.html}}
      </ol>
    </div>
  {{/if}}
{{/if}}