<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">
        {{#if (eq actor.type "npc")}}
          {{localize 'CYPHERSYSTEM.Inventory'}}
        {{/if}}
        {{#if (eq actor.type "companion")}}
          {{localize 'CYPHERSYSTEM.Inventory'}}
        {{/if}}
        {{#if (eq actor.type "community")}}
          {{localize 'CYPHERSYSTEM.Storage'}}
        {{/if}}
        {{#if (eq actor.type "vehicle")}}
          {{localize 'CYPHERSYSTEM.Storage'}}
        {{/if}}
        {{#if (eq actor.type "marker")}}
          {{localize 'CYPHERSYSTEM.Items'}}
        {{/if}}
        {{localize 'CYPHERSYSTEM.Tab'}}
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.attacks.active" {{checked actor.system.settings.equipment.attacks.active}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Attacks'}}
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.ammo.active" {{checked actor.system.settings.equipment.ammo.active}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Ammo'}}
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.armor.active" {{checked actor.system.settings.equipment.armor.active}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Armor'}}
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.cyphers.active" {{checked actor.system.settings.equipment.cyphers.active}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Cyphers'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.settings.equipment.cyphers.label" type="text" value="{{actor.system.settings.equipment.cyphers.label}}" placeholder="{{localize 'CYPHERSYSTEM.Cyphers'}}" />
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.artifacts.active" {{checked actor.system.settings.equipment.artifacts.active}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Artifacts'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.settings.equipment.artifacts.label" type="text" value="{{actor.system.settings.equipment.artifacts.label}}" placeholder="{{localize 'CYPHERSYSTEM.Artifacts'}}" />
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.oddities.active" {{checked actor.system.settings.equipment.oddities.active}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Oddities'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.settings.equipment.oddities.label" type="text" value="{{actor.system.settings.equipment.oddities.label}}" placeholder="{{localize 'CYPHERSYSTEM.Oddities'}}" />
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.materials.active" {{checked actor.system.settings.equipment.materials.active}}>
        &nbsp;{{localize 'CYPHERSYSTEM.CraftingMaterial'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.settings.equipment.materials.label" type="text" value="{{actor.system.settings.equipment.materials.label}}" placeholder="{{localize 'CYPHERSYSTEM.IotumAndParts'}}" />
      </div>
    </li>
  </ol>
</div>