<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">{{localize 'CYPHERSYSTEM.PriceSettings'}}</div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        {{localize 'CYPHERSYSTEM.PriceCategory'}}
      </div>
      <div class="item-quantity">
        <select class="auto-margin settings-input" name="system.price.category">
          {{selectOptions priceCategoryChoices selected=item.system.price.category localize=true}}
        </select>
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        {{localize 'CYPHERSYSTEM.PriceTag'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.price.priceTag" type="text" value="{{item.system.price.priceTag}}" placeholder="{{localize 'CYPHERSYSTEM.PriceTag'}}" />
      </div>
    </li>
  </ol>
</div>