<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">
        {{#if (eq actor.type "NPC")}}
          {{localize 'CYPHERSYSTEM.Inventory'}}
        {{/if}}
        {{#if (eq actor.type "Companion")}}
          {{localize 'CYPHERSYSTEM.Inventory'}}
        {{/if}}
        {{#if (eq actor.type "Community")}}
          {{localize 'CYPHERSYSTEM.Storage'}}
        {{/if}}
        {{#if (eq actor.type "Vehicle")}}
          {{localize 'CYPHERSYSTEM.Storage'}}
        {{/if}}
        {{#if (eq actor.type "Token")}}
          {{localize 'CYPHERSYSTEM.Items'}}
        {{/if}}
        {{localize 'CYPHERSYSTEM.Tab'}}
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.ammo" {{checked actor.system.settings.equipment.ammo}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Ammo'}}
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.cyphers" {{checked actor.system.settings.equipment.cyphers}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Cyphers'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.settings.equipment.cyphersName" type="text" value="{{actor.system.settings.equipment.cyphersName}}" placeholder="{{localize 'CYPHERSYSTEM.Cyphers'}}" />
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.artifacts" {{checked actor.system.settings.equipment.artifacts}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Artifacts'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.settings.equipment.artifactsName" type="text" value="{{actor.system.settings.equipment.artifactsName}}" placeholder="{{localize 'CYPHERSYSTEM.Artifacts'}}" />
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.oddities" {{checked actor.system.settings.equipment.oddities}}>
        &nbsp;{{localize 'CYPHERSYSTEM.Oddities'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.settings.equipment.odditiesName" type="text" value="{{actor.system.settings.equipment.odditiesName}}" placeholder="{{localize 'CYPHERSYSTEM.Oddities'}}" />
      </div>
    </li>
    <li class="item flexrow item-settings">
      <div class="settings-list">
        <input type="checkbox" name="system.settings.equipment.materials" {{checked actor.system.settings.equipment.materials}}>
        &nbsp;{{localize 'CYPHERSYSTEM.CraftingMaterial'}}
      </div>
      <div class="item-quantity">
        <input class="auto-margin settings-input" name="system.settings.equipment.materialName" type="text" value="{{actor.system.settings.equipment.materialName}}" placeholder="{{localize 'CYPHERSYSTEM.IotumAndParts'}}" />
      </div>
    </li>
  </ol>
</div>