<div class="flexrow">
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-name">{{ localize 'ITEM.armor' }}</div>
      <div class="item-quantity">{{ localize 'ITEM.active' }}</div>
      <div class="item-quantity">{{ localize 'ITEM.armorSpeedCost' }}</div>
      <div class="item-quantity">{{ localize 'ITEM.rating' }}</div>
      <div class="item-controls">
        {{#if (eq data.settings.gameMode.currentSheet "Teen")}}
        <a class="item-control item-create" title="{{ localize 'ITEM.create' }}" data-type="teen Armor"><i class="fas fa-plus"></i></a>
        {{else}}
        <a class="item-control item-create" title="{{ localize 'ITEM.create' }}" data-type="armor"><i class="fas fa-plus"></i></a>
        {{/if}}
      </div>
    </li>
    {{#if (eq data.settings.gameMode.currentSheet "Teen")}}
      {{> systems/cyphersystem/templates/teenArmor.html}}
    {{else}}
      {{> systems/cyphersystem/templates/armor.html}}
    {{/if}}
  </ol>
</div>
