{{#each actor.armor as |item id|}}
<li class="item flexrow" data-item-id="{{item._id}}" style="color: {{#if data.archived}}grey{{/if}}">
  <h4 class="item-name"><a class="item-control item-description" title="{{ localize 'ITEM.showDescription' }}"><i class="fas fa-angle-{{#if data.showDescription}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>{{item.name}} ({{data.armorType}}{{#unless (eq data.notes "")}}, {{data.notes}}{{/unless}})</a></h4>
  <div class="item-quantity"><a class="item-control armor-active" title="{{ localize 'ITEM.armorActive' }}"><i class="fas fa-check" aria-hidden="true" style="color: {{#if data.archived}}grey{{else}}{{#unless data.armorActive}}grey{{/unless}}{{/if}}"></i></a></div>
  <div class="item-quantity">{{data.speedCost}}</div>
  <div class="item-quantity">{{data.armorValue}}</div>
  <div class="item-controls">
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="{{#if data.archived}}{{ localize 'ITEM.unarchive' }}{{else}}{{ localize 'ITEM.archive' }}{{/if}}"><i class="fas fa-{{#if data.archived}}undo{{else}}archive{{/if}}"></i></a>
  </div>
</li>
{{#if data.showDescription}}
<li class="item-desc flexrow" style="color: {{#if data.archived}}grey{{/if}}">
  <div class="description"><img class="description-image" src="{{item.img}}" style="opacity: {{#if data.archived}}50%{{/if}}"="50" height="50"/>{{{data.description}}}</div>
</li>
{{/if}}
{{/each}}
