<div class="flexrow">
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{#if (eq actor.type "NPC")}}Inventory{{/if}}{{#if (eq actor.type "Companion")}}Inventory{{/if}}{{#if (eq actor.type "Community")}}Storage{{/if}}{{#if (eq actor.type "Vehicle")}}Storage{{/if}}{{#if (eq actor.type "Token")}}Items{{/if}} Tab</div>
        </li>
        <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.equipment.ammo" data-dtype="boolean" {{checked data.settings.equipment.ammo}}>&nbsp;Ammo</div>
        </li>
        <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.equipment.armor" data-dtype="boolean" {{checked data.settings.equipment.armor}}>&nbsp;Armor</div>
        </li>
        <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.equipment.cyphers" data-dtype="boolean" {{checked data.settings.equipment.cyphers}}>&nbsp;Cyphers</div>
        </li>
        <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.equipment.artifacts" data-dtype="boolean" {{checked data.settings.equipment.artifacts}}>&nbsp;Artifacts</div>
        </li>
        <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.equipment.oddities" data-dtype="boolean" {{checked data.settings.equipment.oddities}}>&nbsp;Oddities</div>
        </li>
        <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.equipment.materials" data-dtype="boolean" {{checked data.settings.equipment.materials}}>&nbsp;Crafting Material</div>
        </li>
    </ol>
</div>