<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <div class="flexrow">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                <div class="centered-fields">
                    <div class="resource-content flexrow flex-center">
                        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                    </div>
                    <div class="resource-content flexrow flex-center">
                        Damage:&nbsp;
                        <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number"/>&nbsp;
                        Type:&nbsp;
                        <select name="data.attackType">
                            {{#select data.attackType}}
                            <option value="light weapon">light weapon</option>
                            <option value="medium weapon">medium weapon</option>
                            <option value="heavy weapon">heavy weapon</option>
                            <option value="artifact">artifact</option>
                            <option value="special ability">special ability</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource-content flexrow flex-center">
                        <select name="data.modified">
                            {{#select data.modified}}
                            <option value="eased">eased</option>
                            <option value="hindered">hindered</option>
                            {{/select}}
                        </select>
                        &nbsp;by&nbsp;
                        <input type="text" name="data.modifiedBy" value="{{data.modifiedBy}}" data-dtype="Number"/>
                        &nbsp;<input type="text" name="data.range" value="{{data.range}}" data-dtype="String" placeholder="Range"  style="min-width: 50%"/>
                    </div>
                    <div class="resource-content flexrow flex-center">
                        <input type="text" name="data.notes" value="{{data.notes}}" data-dtype="String" placeholder="Notes"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description" style="border-top: none; border-bottom: none;">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
