<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <div class="flexrow">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                <div class="centered-fields">
                    <div class="resource-content flexrow flex-center">
                        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ACTOR.name'}}"/>
                        &nbsp;<div class="item-quantity" style="flex: 0 0 80px;"><input name="data.level" type="text" value="{{data.level}}" data-dtype="String" placeholder="{{localize 'ITEM.level'}}" title="{{localize 'ITEM.level'}}"/></div>
                    </div>
                    <div class="resources grid grid-3col">
                        <div class="resource flex-center">
                            <label class="resource-label-normal">{{localize 'ITEM.artifactDepletion'}}</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <input type="text" name="data.depletion" value="{{data.depletion}}" data-dtype="String"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description" style="border-top: none; border-bottom: none;">{{localize 'MISC.description'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
