<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <div class="flexrow">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                <div class="centered-fields">
                    <div class="resource-content flexrow flex-center">
                        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ACTOR.name'}}"/>
                    </div>
                    <div class="resources grid grid-3col" style="margin-bottom: 0">
                        <div class="resource flex-center">
                            <label class="resource-label-normal">{{localize 'ITEM.armorSpeedCost'}}</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <input type="text" name="data.speedCost" value="{{data.speedCost}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="resource flex-center">
                            <label class="resource-label-normal">{{localize 'ITEM.armorRating'}}</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <input type="text" name="data.armorValue" value="{{data.armorValue}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="resource flex-center">
                            <label class="resource-label-normal">{{localize 'ITEM.type'}}</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <select name="data.armorType">
                                    {{#select data.armorType}}
                                    <option value="light armor">{{localize 'ITEM.armorLight'}}</option>
                                    <option value="medium armor">{{localize 'ITEM.armorMedium'}}</option>
                                    <option value="heavy armor">{{localize 'ITEM.armorHeavy'}}</option>
                                    <option value="artifact">{{localize 'ITEM.specialArtifact'}}</option>
                                    <option value="special ability">{{localize 'ITEM.specialAbility'}}</option>
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="resource flex-center">
                        <input type="text" name="data.notes" value="{{data.notes}}" data-dtype="String" placeholder="{{localize 'ACTOR.tab.notes.name'}}"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description" style="border-top: none; border-bottom: none;">{{localize 'MISC.description'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
