<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      <div class="resource-content" style="float: right; text-align: center;">
        Shifts:&nbsp;
        <input name="data.powerShiftValue" type="text" value="{{data.powerShiftValue}}" data-dtype="Number" style="width: 50px"/>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description" style="border-top: none; border-bottom: none;">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
