<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <div class="flexrow">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                <div class="centered-fields">
                    <div class="resource-content flexrow flex-center">
                        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                    </div>
                    <div class="resources grid grid-3col">
                        <div class="resource flex-center">
                            <label class="resource-label-normal">Shifts</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <input name="data.powerShiftValue" type="text" value="{{data.powerShiftValue}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description" style="border-top: none; border-bottom: none;">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
s
