{{#each actor.teenSkills as |item id|}}
<li class="item flexrow" data-item-id="{{item._id}}" style="color: {{#if data.archived}}grey{{/if}}">
    <h4 class="item-name"><a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}"><i class="fas fa-angle-{{#if data.showDescription}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>{{item.name}}</a></h4>
	<div class="item-quantity" style="color: {{#if data.archived}}grey{{else}}{{#if (eq data.skillLevel 'Inability')}}red{{/if}}{{#if (eq data.skillLevel 'Trained')}}green{{/if}}{{#if (eq data.skillLevel 'Specialized')}}blue{{/if}}{{/if}}">
		{{#if (eq data.skillLevel 'Inability')}}
			{{localize 'CYPHERSYSTEM.Inability'}}
		{{else if (eq data.skillLevel 'Trained')}}
			{{localize 'CYPHERSYSTEM.Trained'}}
		{{else if (eq data.skillLevel 'Specialized')}}
			{{localize 'CYPHERSYSTEM.Specialized'}}
		{{else}}
			{{localize 'CYPHERSYSTEM.Practiced'}}
		{{/if}}
	</div>
	<div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'CYPHERSYSTEM.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{#if data.archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}"><i class="fas fa-{{#if data.archived}}undo{{else}}archive{{/if}}"></i></a>
    </div>
</li>
{{#if data.showDescription}}
<li class="item-desc flexrow"  style="color: {{#if data.archived}}grey{{/if}}">
    <div class="description"><img class="description-image" src="{{item.img}}" style="opacity: {{#if data.archived}}50%{{/if}}"="50" height="50"/>{{{data.description}}}</div>
</li>
{{/if}}
{{/each}}
