<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div style="margin-top: auto; margin-bottom: auto;">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" style="font-weight:bold"/>
            &nbsp;<div class="item-quantity" style="flex: 0 0 80px;"><input name="data.level" type="text" value="{{data.level}}" data-dtype="Number" placeholder="Level" title="Level"/></div>
          </div>
          <div class="resource-content flexrow flex-center">
            <div class="resources grid grid-3col">
              <div class="resource">
              </div>
              <div class="resource">
              </div>
              <div class="resource flex-group-center">
                <a class="item-control decrease-quantity" title="Subract 1 (ctrl/cmd-click to subract 10)"><i class="fas fa-angle-down"></i></a>&nbsp;
                <a class="item-control reset-quantity" title="Reset Quantity"><label class="resource-label">Quantity</label></a>&nbsp;
                <a class="item-control increase-quantity" title="Add 1 (ctrl/cmd-click to add 10)"><i class="fas fa-angle-up"></i></a>
                <div class="resource-content flexrow flex-center flex-between">
                  <input name="data.quantity.value" type="text" value="{{data.quantity.value}}" data-dtype="Number"/>
                  &nbsp;/&nbsp;
                  <input name="data.quantity.max" type="text" value="{{data.quantity.max}}" data-dtype="Number"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description" style="border-top: none; border-bottom: none;">Description</a>
    <a class="item" data-tab="items" style="border-top: none; border-bottom: none;">Items</a>
    <a class="item" data-tab="settings" style="flex: 0 0 0px; text-align: right; border-top: none; border-bottom: none;"><i class="fas fa-cog"></i></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

            {{> systems/cyphersystem/templates/equipment.html}}

            {{#if data.settings.equipment.ammo}}
            {{> systems/cyphersystem/templates/ammo.html}}
            {{/if}}

            {{#if data.settings.equipment.armor}}
            {{> systems/cyphersystem/templates/armorWithoutTotal.html}}
            {{/if}}

            {{#if data.settings.equipment.cyphers}}
            {{> systems/cyphersystem/templates/cyphers.html}}
            {{/if}}

            {{#if data.settings.equipment.artifacts}}
            {{> systems/cyphersystem/templates/artifacts.html}}
            {{/if}}

            {{#if data.settings.equipment.oddities}}
            {{> systems/cyphersystem/templates/oddities.html}}
            {{/if}}

            {{#if data.settings.equipment.materials}}
            {{> systems/cyphersystem/templates/materials.html}}
            {{/if}}

    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div class="flexrow">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">General Settings</div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.initialTab" data-dtype="boolean" checked disabled>&nbsp;Default Tab</div>
            <div class="item-quantity"><select class="auto-margin" name="data.settings.counting" style="width: 135px">
                {{#select data.settings.counting}}
                <option value="up">Up</option>
                <option value="down">Down</option>
                {{/select}}
            </select></div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.isCounter" data-dtype="boolean" {{checked data.settings.isCounter}}>&nbsp;Count Quantity on Initiative</div>
            <div class="item-quantity"><select class="auto-margin" name="data.settings.counting" style="width: 135px">
                {{#select data.settings.counting}}
                <option value="up">Up</option>
                <option value="down">Down</option>
                {{/select}}
            </select></div>
          </li>
          <li class="item flexrow item-settings">
            <div class="settings-list"><input type="checkbox" name="data.settings.hideArchived" data-dtype="boolean" {{checked data.settings.hideArchived}}>&nbsp;Hide Archive</div>
          </li>
        </ol>
      </div>
        {{> systems/cyphersystem/templates/equipment-settings.html}}
    </div>

  </section>
</form>
