{{#each itemLists.cyphers as |item id|}}
  <li class="item flexrow {{#if item.system.archived}}archived{{/if}}" data-item-id="{{item._id}}">
    <h6 class="item-name">
      <a class="item-control" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}" data-action="clickItemDescription">
        <i id="arrow-{{item._id}}" class="fas fa-angle-{{#if (expanded item._id)}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>
        {{~#if item.system.basic.identified ~}}
          {{~item.name ~}}
        {{~else if item.system.settings.general.nameUnidentified ~}}
          {{~item.system.settings.general.nameUnidentified ~}}
        {{~else ~}}
          {{~localize 'CYPHERSYSTEM.UnidentifiedCypher' ~}}
        {{~/if ~}}
      </a>
      {{#if (and item.system.favorite (eq ../this.actor.system.settings.general.hideFavoriteButton false))}}
        <a class="item-favorite {{disabled @root.sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.ItemFavorite'}}" data-action="itemFavorite">
          <i class="fa-item fa-solid fa-star"></i>
        </a>
      {{else}}
        <a class="item-favorite show-on-hover {{disabled @root.sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.ItemFavorite'}}" data-action="itemFavorite">
          <i class="fa-item {{ifThen item.system.favorite 'fa-solid' 'fa-regular'}} fa-star"></i>
        </a>
      {{/if}}
    </h6>
    <div class="item-quantity">
      {{#if item.system.basic.identified}}
        {{#if item.system.rollForLevel}}
          <a title="{{localize 'CYPHERSYSTEM.RollForLevelButton'}}" data-action="rollForLevel">
            <i class="fa-item fas fa-question"></i>
            {{item.system.basic.level}}
          </a>
        {{else}}
          {{item.system.basic.level}}
        {{/if}}
      {{else}}
        {{localize 'CYPHERSYSTEM.?'}}
      {{/if}}
    </div>
    <div  class="item-controls flexrow {{{@root.sheetSettings.showOnHover}}}">
      {{#unless item.system.basic.identified}}
        <a class="item-control {{disabled @root.sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.MarkIdentified'}}" data-action="identifyItem">
          <i class="fa-item far fa-eye-slash"></i>
        </a>
      {{/unless}}
      {{#if (or item.system.basic.identified @root.sheetSettings.isGM)}}
        <a class="item-control {{disabled @root.sheetSettings.isObserver}}" data-action="toggleCypherType">
          {{{cypherType ../this item._id}}}
        </a>
        <a class=" item-control {{disabled @root.sheetSettings.isObserver}}" title="{{localize 'CYPHERSYSTEM.EditItem'}}" data-action="itemEdit">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      {{/if}}
      <a class="item-control {{disabled @root.sheetSettings.isObserver}}" title="{{#if item.system.archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}" data-action="itemDelete">
        {{#if item.system.archived}}
          <i class="fa-item archived fa-solid fa-arrow-rotate-left"></i>
        {{else}}
          <i class="fa-item unarchived fa-solid fa-archive"></i>
        {{/if}}
      </a>
    </div>
  </li>

  {{#if (expanded item._id)}}
    <li class="item-desc flexrow {{#if item.system.archived}}archived{{/if}}">
      <div class="description desc-{{item._id}}">
        <img class="description-image {{#if item.system.archived}}archived-image{{/if}}" src="{{item.img}}" width="50" height="50" />
        {{#if item.system.basic.identified}}
          {{{enrichedHTMLItems ../this "description" item._id}}}
          {{{itemPrice ../this.actor item}}}
          {{{activeTags ../this item.flags.cyphersystem.tags item.flags.cyphersystem.recursions}}}
        {{else}}
          <p>{{localize 'CYPHERSYSTEM.???'}}</p>
        {{/if}}
      </div>
    </li>
  {{/if}}

{{/each}}