{{#each itemLists.teenLastingDamage as |item id|}}
  <li class="item flexrow {{#if item.system.archived}}archived{{/if}}" data-item-id="{{item._id}}">
    <h4 class="item-name">
      <a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}">
        <i id="arrow-{{item._id}}" class="fas fa-angle-{{#if (expanded item._id)}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>
        {{~item.name}}
      </a>
      {{localize 'CYPHERSYSTEM.OpenParenthesis' ~}}
      {{#if (eq item.system.basic.pool "Might") ~}}
        {{localize 'CYPHERSYSTEM.Might' ~}}
      {{else if (eq item.system.basic.pool "Speed") ~}}
        {{localize 'CYPHERSYSTEM.Speed' ~}}
      {{else if (eq item.system.basic.pool "Intellect") ~}}
        {{localize 'CYPHERSYSTEM.Intellect' ~}}
      {{/if ~}}
      {{#if (eq item.system.basic.type "Permanent") ~}}
        {{localize 'CYPHERSYSTEM.Comma'}}
        {{localize 'CYPHERSYSTEM.permanent' ~}}
      {{/if ~}}
      {{localize 'CYPHERSYSTEM.CloseParenthesis'}}
    </h4>
    <div class="item-quantity">
      <a class="item-control minus-one-damage" title="{{localize 'CYPHERSYSTEM.SubtractQuantity'}}">
        <i class="far fa-minus-square"></i>
      </a>
      <p class="number">&nbsp;{{item.system.basic.damage}}&nbsp;</p>
      <a class="item-control plus-one-damage" title="{{localize 'CYPHERSYSTEM.AddQuantity'}}">
        <i class="far fa-plus-square"></i>
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit {{#if ../sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.EditItem'}}">
        <i class="fas fa-file-alt"></i>
      </a>
      <a class="item-control item-delete {{#if ../sheetSettings.isObserver}}disabled{{/if}}" title="{{#if item.system.archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}">
        <i class="fas fa-{{#if item.system.archived}}undo{{else}}archive{{/if}}"></i>
      </a>
    </div>
  </li>
  {{#if (expanded item._id)}}
    <li class="item-desc flexrow {{#if item.system.archived}}archived{{/if}}">
      <div class="description desc-{{item._id}}">
        <img class="description-image {{#if item.system.archived}}archived-image{{/if}}" src="{{item.img}}" width="50" height="50" />
        {{{enrichedHTMLItems ../this "description" item._id}}}
        {{{activeTags ../this item.flags.cyphersystem.tags item.flags.cyphersystem.recursions}}}
      </div>
    </li>
  {{/if}}
{{/each}}