{{#each itemLists.spells as |item id|}}
  <li class="item flexrow {{#if system.archived}}archived{{/if}}" data-item-id="{{item._id}}">
    <h4 class="item-name">
      <a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}">
        <i id="arrow-{{item._id}}" class="fas fa-angle-{{#if (expanded item._id)}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>
        {{~item.name}}
      </a>
      {{localize 'CYPHERSYSTEM.OpenParenthesis' ~}}
      {{#if (eq system.basic.cost "1") ~}}
        {{system.basic.cost}}
        {{#if (eq system.basic.pool "Might") ~}}
          {{localize 'CYPHERSYSTEM.MightPoint' ~}},
        {{else if (eq system.basic.pool "Speed") ~}}
          {{localize 'CYPHERSYSTEM.SpeedPoint' ~}},
        {{else if (eq system.basic.pool "Intellect") ~}}
          {{localize 'CYPHERSYSTEM.IntellectPoint' ~}},
        {{else if (eq system.basic.pool "XP") ~}}
          {{localize 'CYPHERSYSTEM.XP' ~}},
        {{else ~}}
          {{localize 'CYPHERSYSTEM.AnyPoolPoint' ~}},
        {{/if ~}}
      {{else if (and (ne system.basic.cost "0") (ne system.basic.cost "") (ne system.basic.cost 0)) ~}}
        {{system.basic.cost}}
        {{#if (eq system.basic.pool "Might") ~}}
          {{localize 'CYPHERSYSTEM.MightPoints' ~}},
        {{else if (eq system.basic.pool "Speed") ~}}
          {{localize 'CYPHERSYSTEM.SpeedPoints' ~}},
        {{else if (eq system.basic.pool "Intellect") ~}}
          {{localize 'CYPHERSYSTEM.IntellectPoints' ~}},
        {{else if (eq system.basic.pool "XP") ~}}
          {{localize 'CYPHERSYSTEM.XP' ~}},
        {{else ~}}
          {{localize 'CYPHERSYSTEM.AnyPoolPoints' ~}},
        {{/if ~}}
      {{/if ~}}
      {{#if (eq system.settings.general.spellTier "low")}}{{localize 'CYPHERSYSTEM.LowTier'}}{{/if~}}
        {{#if (eq system.settings.general.spellTier "mid")}}{{localize 'CYPHERSYSTEM.MidTier'}}{{/if~}}
          {{#if (eq system.settings.general.spellTier "high")}}{{localize 'CYPHERSYSTEM.HighTier'}}{{/if~}}
            {{localize 'CYPHERSYSTEM.CloseParenthesis'}}
    </h4>
    <div class="item-controls{{#if (eq ../sheetSettings.rollButtons 1)}}-spells{{/if}}">
      {{#if (eq ../sheetSettings.rollButtons 1)}}
        <a class="item-control cast-spell {{#if ../sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.CastSpell'}}">
          <i class="fas fa-book-dead"></i>
        </a>
        <a class="item-control item-pay {{#if ../sheetSettings.isObserver}}disabled{{/if}}" title="{{#if ../sheetSettings.useAllInOne}}{{localize 'CYPHERSYSTEM.RollItemPayPoints'}}{{else}}{{localize 'CYPHERSYSTEM.PayItem'}}{{/if}}">
          {{#if ../sheetSettings.useAllInOne}}
            <i class="fas fa-dice-d20"></i>
          {{else}}
            <i class="fas fa-coins"></i>
          {{/if}}
        </a>
      {{/if}}
      <a class="item-control item-edit {{#if ../sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.EditItem'}}">
        <i class="fas fa-file-alt"></i>
      </a>
      <a class="item-control item-delete {{#if ../sheetSettings.isObserver}}disabled{{/if}}" title="{{#if system.archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}">
        <i class="fas fa-{{#if system.archived}}undo{{else}}archive{{/if}}"></i>
      </a>
    </div>
  </li>

  {{#if (expanded item._id)}}
    <li class="item-desc flexrow {{#if system.archived}}archived{{/if}}">
      <div class="description desc-{{item._id}}">
        <img class="description-image {{#if system.archived}}archived-image{{/if}}" src="{{item.img}}" width="50" height="50" />
        {{{enrichedHTMLItems ../this "description" item._id}}}
        {{{activeTags ../this item.flags.cyphersystem.tags item.flags.cyphersystem.recursions}}}
      </div>
    </li>
  {{/if}}

{{/each}}