{{#each itemLists.tags as |item id|}}
  <li class="item flexrow {{#if item.system.archived}}archived{{/if}}" data-item-id="{{item._id}}">
    <h4 class="item-name">
      <a class="item-control item-description" title="{{localize 'CYPHERSYSTEM.ShowDescription'}}">
        <i id="arrow-{{item._id}}" class="fas fa-angle-{{#if (expanded item._id)}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>
        {{~item.name}}
      </a>
    </h4>
    <div class="item-controls">
      <a class="item-control toggle-tag {{#if ../sheetSettings.isObserver}}disabled{{/if}} {{#if item.system.active}}black{{else}}archived{{/if}}" title="{{#if item.system.active}}{{localize 'CYPHERSYSTEM.ArchiveItemsWithTag' tag=item.name}}{{else}}{{localize 'CYPHERSYSTEM.UnarchiveItemsWithTag' tag=item.name}}{{/if}}" data-item-id="{{item._id}}">
        {{#if item.system.exclusive}}<i class="fas fa-exclamation"></i>{{/if}}<i class="fas fa-hashtag"></i>
      </a>
      <a class="item-control item-edit {{#if ../sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.EditItem'}}">
        <i class="fas fa-file-alt"></i>
      </a>
      <a class="item-control item-delete {{#if ../sheetSettings.isObserver}}disabled{{/if}}" title="{{#if item.system.archived}}{{localize 'CYPHERSYSTEM.UnarchiveItem'}}{{else}}{{localize 'CYPHERSYSTEM.ArchiveItem'}}{{/if}}">
        <i class="fas fa-{{#if item.system.archived}}undo{{else}}archive{{/if}}"></i>
      </a>
    </div>
  </li>

  {{#if (expanded item._id)}}
    <li class="item-desc flexrow {{#if item.system.archived}}archived{{/if}}">
      <div class="description desc-{{item._id}}">
        <img class="description-image {{#if item.system.archived}}archived-image{{/if}}" src="{{item.img}}" width="50" height="50" />
        {{{enrichedHTMLItems ../this "description" item._id}}}
      </div>
    </li>
  {{/if}}

{{/each}}