<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="centered-fields">
          <div class="resource-content flexrow flex-center">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CYPHERSYSTEM.Name'}}"/>
          </div>
          <div class="resources grid grid-3col">
            <div class="resource flex-center">
              <label class="resource-label-normal">{{localize 'CYPHERSYSTEM.Rating'}}</label>
              <div class="resource-content flexrow flex-center flex-between">
                <select name="data.skillLevel">
                  {{#select data.skillLevel}}
                  <option value="Specialized">{{localize 'CYPHERSYSTEM.Specialized'}}</option>
                  <option value="Trained">{{localize 'CYPHERSYSTEM.Trained'}}</option>
                  <option value="Practiced">{{localize 'CYPHERSYSTEM.Practiced'}}</option>
                  <option value="Inability">{{localize 'CYPHERSYSTEM.Inability'}}</option>
                  {{/select}}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description" style="border-top: none; border-bottom: none;">{{localize 'CYPHERSYSTEM.Description'}}</a>
    {{#if data.rollButtons}}
    <a class="item" data-tab="settings" style="flex: 0 0 0px; text-align: right; border-top: none; border-bottom: none;"><i class="fas fa-cog"></i></a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
    </div>

    {{!-- Settings Tab --}}
    {{> systems/cyphersystem/templates/tabs/item-settings.html}}

  </section>
</form>
